body {
	transition:0.4s all;
	-webkit-transition:0.4s all;
    letter-spacing: 0.4px;
}
body {
	line-height:24px;
}
html.active {
	overflow:hidden;
}
.modal-open {
	overflow:auto;
}
.main-content,#jws-main {
	overflow:hidden;
}
div {
	outline:none;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
div::-moz-selection { background:transparent; }
div::selection { background:transparent; }
img {
	max-width:100%;
	height:auto;
}
a:hover,a:focus {
	color:#252525;
}
.logged-in-as {
   padding: 0 15px;
   margin-bottom: 20px; 
}
textarea {resize: none}
a,button {
	-webkit-transition:.2s ease-out;
	-moz-transition:.2s ease-out;
	transition:.2s ease-out;
}
.woocommerce div.product .content-product-left .product-images-content.bottom .woocommerce-product-gallery img {
	-webkit-transition:.0s ease-out;
	-moz-transition:.0s ease-out;
	transition:.0s ease-out;
}
.grid-sizer.size-2 {
	width:16.666%;
}
.acount-tt {
	display:inline-block !important;
}
.grid-sizer.size-3 {
	width:25%;
}
.grid-sizer.size-4 {
	width:33.3333333333333333333333%;
}
.grid-sizer.size-20 {
	width:20%;
}
.grid-sizer.size-7 {
	width:50%;
}
.grid-sizer.size-5 {
	width:20%;
}
.grid-sizer.size-12 {
	width:100%;
}
.color-scheme-right {
	text-align:right;
}
.color-scheme-left {
	text-align:left;
}
.color-scheme-center {
	text-align:center;
}
.penna_font {
	font-family:penna !important;
	letter-spacing:11.5px;
	font-weight:bold;
}
h4,.h4,h5,.h5,h6,.h6 {
	margin-top:0;
}
p {
	margin-bottom:0;
}
.weight_500 {
	font-weight:500 !important;
}
.weight_300 {
	font-weight:300 !important;
}
.spacing0_2 {
	letter-spacing:0.2px;
}
.border.vc_custom_heading {
	position:relative;
	padding-left:25px;
	&:before {
		content:"";
		width:1px;
		height:43px;
		position:absolute;
		bottom:3px;
		left:0;
	}
}
.admin-bar {
   .is-sticky .mainmenu-area {
    margin-top:32px;
   }
}
.flex_r_l {
    justify-content: space-between
}
@media (max-width:782px) {
  .admin-bar {
     #jws_header.jws-header-v1 {
    padding: 45px 0;
   }
  .is-sticky .mainmenu-area {
        margin-top: 45px;
   } 
}  
}
@media (max-width:600px) {
   .admin-bar {
  .is-sticky .mainmenu-area {
        margin-top: 0px;
   } 
   }  
}
.wpb_column.background-parallax .vc_column-inner {
   background-attachment: fixed; 
}
#back-to-top {
      position: fixed;
    bottom: 80px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 999;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    border-radius: 100%;
    cursor: pointer; 
    transition: 0.5s all;
    -webkit-transition: 0.5s all; 
    i {
      transition: 0.5s all;
    -webkit-transition: 0.5s all; 
    }
    &:hover {
       i {
        transform: translatey(-5px);
        -webkit-transform: translatey(-5px);  
       }
    }  
}
.modal.fade .modal-dialog {
      -webkit-transition: .7 all;
    -o-transition:  .7 all;
    transition:  .7 all;
    -webkit-transform: translate3d(0,-50px,0); 
    -o-transform: translate3d(0,-50px,0); 
    transform: translate3d(0,-50px,0);  
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0,0px,0); 
    -o-transform: translate3d(0,0px,0); 
    transform: translate3d(0,0px,0);   
}
.modal-header {
       background-color: #f6f6f6;
        text-align: center;
        padding: 70px 0;
        border: none;
    h4 {
        font-size:30px;
        font-weight: bold;
        margin: 0;
    }
}
.btn-default {
     border: none !important;
    background: transparent !important;
    font-size: 30px;   
}
.modal-content {
    border-radius: 0;
}
/* --------------- End Default ---------------- Css */
.search .main-content , .archive .main-content  {
    padding-top: 100px;
}
body.archive {
 .kitgreen-portfolio-holder .pp_inner {
    margin-bottom:30px;
 }   
}
/*------------------ Title Bar ----------------------*/
.title-bar-header {
  .page-breadcrumbs  {
    display: flex;
    justify-content: space-between;
        align-items: center; 
  }  
}
/* Search Content */
.search_item {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    border: 5px solid #ebebeb;
    padding: 30px;
    .bog-image {
        margin-bottom:25px;
    }
    .link_content {
        a {
        width: 200px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        margin: 0 auto;
        color: #ffffff;
        font-size: 18px;
        margin-top: 15px;
        display: block !important;
        transition: 0.5s all;
        &:hover {
            opacity:0.9;
        }
        }
    }
}
@media(min-width:767px) {
	.vc_row-flex {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
	}
	.vc_row-o-equal-height {
		>.vc_column_container {
			-webkit-box-align:stretch;
			-webkit-align-items:stretch;
			-ms-flex-align:stretch;
			align-items:stretch;
			display:-webkit-box;
			display:-webkit-flex;
			>.vc_column-inner {
				-webkit-box-pack:center;
				-webkit-justify-content:center;
				-ms-flex-pack:center;
				justify-content:center;
				-webkit-box-flex:1;
				-webkit-flex-grow:1;
				-ms-flex-positive:1;
				flex-grow:1;
				display:flex;
				-webkit-flex-direction:column;
				-ms-flex-direction:column;
				flex-direction:column;
				z-index:1;
				display:-webkit-box;
				display:-webkit-flex;
				display:-ms-flexbox;
				-webkit-box-orient:vertical;
			}
		}
	}
}
@media (min-width:992px) {
	.col-md-20 {
		width:20%;
	}
	.col-md-40 {
		width:40%;
	}
}
.container100 {
	.container {
		width:100%;
	}
}
.canvas_container {
	position:relative;
	#canvas_js {
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
	}
}
.has_overlay {
	position:relative;
	.jws-over-lay {
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
	}
}
.title_end {
	font-size:60px;
}
.italic {
	font-style:italic !important;
}
.zindex {
	z-index:1;
}
.background-parallax {
	background-attachment:fixed;
}
ins {
	text-decoration:none;
}
a,a:hover {
	text-decoration:none !important;
}
@media (min-width:992px) {
	#quick-view-modal {
		.ct-lg.col-md-3 {
			width:50%;
		}
	}
}
@media (min-width:768px) {
	.container-in-full .no-container {
		width:750px;
	}
}
@media (min-width:992px) {
	.container-in-full .no-container {
		width:970px;
	}
     .col-lg-55 {
        width:20%;
    }
}
@media (min-width:1200px) {
	.container-in-full .no-container {
		width:1170px;
	}
   
}
.container-in-full .no-container {
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}
.relative {
	position:relative;
}
abbr[title] {
	border-bottom:none !important;
	cursor:inherit !important;
	text-decoration:none !important;
}
a:focus {
	outline:none;
	outline-offset:initial;
}
ul,ol {
	list-style-type:none;
	padding:0;
	margin:0;
}
input,textarea,button {
	outline:none !important;
}
.row-same-height {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex:0 1 auto;
	-ms-flex:0 1 auto;
	-webkit-box-flex:0;
	flex:0 1 auto;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	flex-direction:row;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.display_flex {
	display:flex;
	-webkit-display:flex;
}
.flex_left {
	display:flex;
	justify-content:flex-start;
}
.flex_center {
	display:flex;
	justify-content: flex-end;
	align-items:center;
	flex:1;
}
.flex_right {
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
.margin_am {
	.wpb_single_image {
		margin-right:-73%;
	}
}
.line-vertical {
	width:1px;
	height:100px;
	margin:0 auto;
}
.colorfff {
	color:#ffffff;
}
.demo_con {
	margin:0 auto;
	width:100%;
	display:block;
	span {
			text-align: center;
            margin-top: 10px;
            display: block;
	}
	.demo_theme {
		overflow:hidden;
		position:relative;
		background-position:center top;
		cursor:pointer;
		width:100%;
		margin:0 auto;
		height:200px;
		transition:5s;
		-webkit-transition:5s;
		display:block;
		text-align:center;
 	      border:1px solid #dcdcdc;
		&:hover {
			background-position:center bottom;
			transition:5s;
			-webkit-transition:5s;
		}
	
	}
}
/*------------- Mail--------------*/
.mc4wp-form {
	.mc4wp-success p {
		margin-top:30px;
		max-width: 500px;
	}
	.input {
		height:50px;
        line-height: 50px;
		width: ~"calc(100% - 140px)";
		background:transparent;
		border:1px solid #dfdfdf;
		padding-left:17px;
        border-right:0px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        display: inline-block;
        vertical-align: top;
        background: #ffffff;
		&::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			color:#8d8d8d;
		}
		&::-moz-placeholder {
			/* Firefox 19+*/
			color:#8d8d8d;
		}
		&:-ms-input-placeholder {
			/* IE 10+*/
			color:#8d8d8d;
		}
		&:-moz-placeholder {
			/* Firefox 18- */
			color:#8d8d8d;
		}
	}
	.submit {
    display: inline-block;
    vertical-align: top;
	height: 50px;
    width: 130px;
    line-height: 50px;
    text-align: center;
    border: 0;
    font-weight: 500;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #ffffff;
    margin-left: -3px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    &:hover {
        opacity:0.9;
    }
	}
}
.lato_7 {
 .wpcf7 {
    h3 {
       font-family: Lato;
    }
    .wpcf7-submit {
         width: 100%;
             margin-top: 19px;   
    }
  }     
}
.wpcf7 {
    h3 {
        font-weight:700;
        margin-bottom: 45px;
    }
    p{
            margin-bottom: 27px;
    }
    h6 {
    font-style: italic;
    margin-top: 47px;
    margin-bottom: 31px;
    }
    .row_ct {
        margin:0 -15px;
    
        .row_il{
            display:inline-block;
            width: 49.6%;
            padding: 0 14px;
        } 
    }    
    span.wpcf7-not-valid-tip {
        margin-bottom: 24px;
    }
    .wpcf7-file  {
            border: none;
            background: #f6f6f6;
            border-radius: 0;
            padding: 30px;
            height: auto;
            line-height: initial;
    }
    input,textarea,select {
            border: 1px solid #dfdfdf;
			width:100%;
			margin-bottom:25px;
			border-radius:25px;
			padding-left:15px;
		}
		input,select {
			height:50px;
                outline: none;
		}
		textarea {
			margin-bottom:16px;
			height:190px;
            padding-top: 15px;
		}
		.wpcf7-submit {
			width:170px;
			height:46px;
			line-height:45px;
			border-radius:25px;
			text-align:center;
			color:#ffffff;
			font-weight:500;
			border:0;
			transition:0.5s all;
			-webkit-transition:0.5s all;
            padding: 0;
			&:hover {
				background: #171717;
			}   
   }
}
/*------- Infobox ---------*/
.kitgreen-info-box {
    cursor: pointer;
    .info-box-content {
      .info-box-inner {
        h6 {
            margin-bottom:17px;
                letter-spacing: 0.5px;
        }
      }  
    }
    &.info_ct {
        margin-bottom: 86px;
    }
    &.left_icon2 {
        display: flex;
        align-items: center;
        padding: 20px;
        border:1px solid #dfdfdf;
        background: #ffffff;
        .box-icon-wrapper {
             margin-right: 15px;  
        }
        .info-box-content {
           .info-box-inner {
            p {
                font-size:12px;
            }
           } 
        }
    }
    &.top_icon {
      .box-icon-wrapper {
        .info-box-icon {
            img {
                margin-bottom:55px;
            }
           .has_icon {
           font-size: 60px;
           margin-bottom: 22px;
           } 
        }
      }  
    }
    &.left_icon {
    display: flex;
    align-items: center;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    padding: 50px 25px;
    border-radius: 10px;
      .box-icon-wrapper {
        margin-right: 30px;
        .info-box-icon {
           .has_icon {
           font-size: 60px;
           } 
        }
      }
      &:hover {
        box-shadow: 0 11px 21px rgba(0,0,0,0.16);
        background: #ffffff;
      }  
    }
    &.process_icon2 {
       display:flex;
       align-items: center;
       border-bottom:1px solid #d7d7d7;
       padding-bottom: 30px;
       transition: 0.5s all;
       -webkit-transition: 0.5s all;
       .info-box-content {
        .info-box-inner {
            p {
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            }
        }
       }
       .box-icon-wrapper {
        margin-right: 20px;
        .info-box-icon {
           .has_icon {
            width:100px;
            height: 100px;
            border-radius: 100%;
            line-height: 100px;
            text-align: center;
            font-size: 60px;
            background: #ffffff;
            transition: 0.5s all;
       -webkit-transition: 0.5s all;
           } 
        }
       } 
    }
     &.process_icon , &.process_icon3 {
      background: #f6f6f6;
      position: relative;
      transition: 0.5s all; 
      -webkit-transition: 0.5s all; 
      margin-bottom: 30px;
       .has_icon {
        background:#ffffff;
        width:100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        border-radius: 100%;
        margin: 0 auto;
      } 
      .info-box-content {
            padding: 0 15px 50px 10px;
        .button_info {
        width: 140px;
        height: 50px;
        border-radius: 40px;
        line-height: 50px;
        text-align: center;
        font-weight: 500;
        display: block;
        background-color: #ffffff;
        margin: 0 auto;
            margin-top: 37px;
            transition: 0.5s all; 
      -webkit-transition: 0.5s all; 
      &:hover {
        color:#ffffff;
      }
      }
      }
      
      .number_process {
    display: inline-block;
    height: 28px;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    width: 100px;
    left: 0;
        .number {
        position: relative;
        z-index: 1;
        color: #ffffff;  
        font-size: 18px;
        font-style: italic;
        margin-top: 8px;
        display: block; 
        }
        .overlay {
        position: absolute;
        content: "";
        bottom: -10px;
        left: 0;
        height: 28px;
        margin-left: 0;
        margin-top: 0;
        width: 100px;
        opacity: 0.3;
        width: 100%;
        height: 100%;
        }
        &:before {
        position: absolute;
        content: "";
        height: 0;
        border-top: 27px solid ;
        border-left: 50px solid transparent !important;
        border-right: 50px solid transparent !important;
        bottom: -27px;
        left: 0;
        }
           &:after {
            position: absolute;
            content: "";
            height: 0;
            border-top: 27px solid ;
            border-left: 50px solid transparent !important;
            border-right: 50px solid transparent !important;
            bottom: -37px;
            left: 0;
            opacity: 0.3;
        }
      }  
    .box-icon-wrapper {
        padding-top: 50px;
        padding-bottom: 8px;
       .has_icon {
        margin-bottom: 20px;
        span {
            font-size:60px;
        }
       } 
    }
    &:hover {
        box-shadow: 0px 11px 21px rgba(0,0,0,0.16);
        transform: translate3d(0,-5px,0);
        -webkit-ransform: translate3d(0,-5px,0);
    }
    }
     &.process_icon3 {
     background: #ffffff;
     padding: 0px 35px 50px 35px;
     .info-box-content {
        text-align:left;
        padding: 0;
        .button_info {
            border:1px solid #dfdfdf;
            margin: 0;
            margin-top: 35px;
          }
     }
      .box-icon-wrapper {
        padding-top: 101px;
        padding-bottom: 13px;
        .info-box-icon {
          .has_icon {
                margin: 0;
                text-align: left;
                width: auto;
                height: auto;
                background: none;
                border-radius: 0;
                line-height: initial;
          }  
        }
      }  
    }
}
/*--------------------- Testimonial ----------------------------------*/
.testimonials-wrapper {
   &.layout3  {
    .testimonial  {
       .slider_container {
        .slider_inner {
            background: #f6f6f6;
            padding: 28px 21px 22px 0;
            margin-bottom: 30px;
          .testimonial-content {
            text-align: right;
            margin-bottom: 25px;
          } 
          footer {
             text-transform: uppercase;
              font-size: 13px;
              text-align: right;
            h5 {
                font-size: 13px;
                margin-bottom: 0;
                margin-right: 3px;
                display: inline-block;
            }
          } 
        }
       } 
    }
   } 
   &.layout2 {
    .slick-arrow {
				position:absolute;
				font-size:18px;
				cursor:pointer;
                border:1px solid #7b7b7b;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                top: 40%;
                &:hover {
                    color:#ffffff;
                }
				&.lnr-chevron-right {
					right:-52px;
				}
				&.lnr-chevron-left {
					left:-52px;
				}
		}
      .testimonial {
        .slider_container {
            padding-top:50px;
           .slider_inner {
            .image {
                 justify-content: space-between;
                     margin-bottom: 46px;
                 span {
                 top: -9px;
                left: 50%;
                content: "";
                margin: 0 auto;
                position: absolute; 
                transform: translatex(-50%) rotate(-10deg);
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 0;
                font-style: italic;
                z-index: 1;
                 }
                > div {
                    background:#ffffff;
                    padding: 65px 15px 15px 15px;
                    position: relative;
                    &:after {
                        top: -35px;
                        left: 50%;
                        content: "";
                        margin: 0 auto;
                        position: absolute;
                        width: 160px;
                        height: 83px;
                        background: url(../../images/bg_before.png);
                        transform: translatex(-50%);
                        -webkit-transform: translatex(-50%);
                    }
                    &.before {
                        margin-right:30px;
                        margin-left: auto;
                    }
   
                }   
            }
            .testimonial-content {
                text-align: right;
               	footer {
				transition:0.5s all;
                text-transform: uppercase;
                margin-top: 25px;
				h5 {
					position:relative;
					margin:0;
					font-size:13px;
                    font-weight: 500;
                    display: inline-block;
				}
                span {
                   font-size:13px; 
                   font-weight: 500;
                }
			}
            }
           } 
        }
      }  
    }
   &.layout1 {
		.slick-list {
			padding:0 !important;
		}
 	  .slick-arrow {
				position:absolute;
				top:50%;
				font-size:18px;
				cursor:pointer;
				transform:translateY(-50%);
				transform:translateY(-50%);
                border:1px solid #7b7b7b;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                &:hover {
                    color:#ffffff;
                }
				&.lnr-chevron-right {
					right:-18px;
				}
				&.lnr-chevron-left {
					left:-18px;
				}
		}
		.content_bottom {
			footer {
				transition:0.5s all;
				display:flex;
				align-items:center;
				text-align:center;
				justify-content:center;
				align-items:center;
                text-transform: uppercase;
				h5 {
					position:relative;
					margin:0;
					font-size:13px;
                    padding-right: 5px;
                    font-weight: 600;
				}
                span {
                   font-size:13px; 
                   font-weight: 500;
                }
			}
		}
		#content2 {
			margin-top:10px;
			.testimonial-content {
				display:none;
			}
			.testimonial-avatar {
				.image {
					display:none;
				}
			}
			.slick-current {
				footer {
					opacity:1;
				}
			}
		}
		#thmbnail-img {
			width:400px;
			margin:0 auto;
			margin-top:54px;
            .slick-slide {
                padding: 40px 0;
            }
            .slick-list {
                margin: 0 -30px;
            }
			.testimonial-content {
				display:none;
			}
			footer {
				display:none;
			}
			.testimonial-avatar {
				text-align:center;
				footer {
					display:none;
				}
				img {
					margin:auto;
					position:relative;
					z-index:1;
					border-radius:100%;
					width:100%;
					height:auto;
				}
				.image {
					width:100px;
					height:100px;
					margin:0 auto;
					border-radius:100%;
					position:relative;
					transform:scale(0.8);
					-webkit-transform:scale(0.8);
					transition:0.3s all;
					-webkit-transition:0.3s all;
                    &:after {
                        content:"";
                        position: absolute;
                        width:1px;
                        height: 0px;
                        bottom: -46px;
                        left: 50%;
                        transform: translatex(-50%);
                        -webkit-transform: translatex(-50%);
                        transition:0.5s all;
					   -webkit-transition:0.5s all;
                    }
				}
			}
			.slick-current {
				.image {
					transform:scale(1);
					-webkit-transform:scale(1);
                    box-shadow: 0 0 29px rgba(0,0,0,0.35);
                    &:after {
                        height:30px;
                    }
                    img {
                           border: 1px solid;
                    }
					&:after {
						opacity:1;
					}
				}
			}
		}
		#content {
			.testimonial-avatar {
				display:none;
			}
			.testimonial-content {
				text-align:center;
				font-size:20px;
				letter-spacing:0.5px;
				line-height:35px;
                padding: 0 100px;
				img {
					margin-top:19px;
				}
			}
			.aligncenter {
				margin:0 auto;
				text-align: center;
			}
		}
	}
}

/*-------------------- Portfolio Filter -----------------------------*/
.portfolio-footer {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    a {
        font-weight: 500;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        span {
        margin-left:10px;
        font-weight: 500;
        }
    }
    .load-on-click {
    width: 190px;
    height: 50px;
    border-radius: 40px;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    transition: 0.5s all;
    color: #ffffff !important;
    -webkit-transition: 0.5s all; 
    &.loading {
    .lnr {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
    &:before {
    content: "\e862";
    }
    }    
    }
    }
}
.portfolio-filter {
    margin-bottom: 43px;
    ul {
        li {
            padding: 0 17px;
            a {
                font-size:13px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
    
}
.row-spacing-15 {
  .kitgreen-portfolio-holder .metro {
    padding:30px !important;
  } 
  .kitgreen-portfolio-holder .metro .pp_inner .redmore {
    bottom: 38px;
    right: 44px; 
  } 
}
.kitgreen-portfolio-holder {
    .metro {
       .pp_inner {
        position:absolute;
        width:100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
       }
       overflow:hidden;
    }
    .grid2 {
      .pp_inner {
        .content_pp {
           .content_pp_inner{
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate3d(0,-50%,0);
            -webkit-transform: translate3d(0,-50%,0);
            .title {
                font-size:30px;
                margin-bottom: 30px;
            }
            .popup {
              .open_popup {
                color: #ffffff;
                width: 60px;
                height: 60px;
                display: block;
                line-height: 60px;
                text-align: center;
                border-radius: 100%;
                background: green;
                font-size: 30px;
                margin: 0 auto;
                span {
                    line-height:60px;
                }
              }  
            }
           } 
        }
      }  
    }
    .pp_inner {
        overflow:hidden;
        position: relative;
        .redmore  {
        position: absolute;
        bottom: 8px;
        right: 14px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all; 
        transform: translate3d(100%,0,0);
        -webkit-transform: translate3d(100%,0,0);
        ransition: 0.5s all;
        -webkit-transition: 0.5s all; 
        opacity: 0;
        &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 100px solid;
        border-left: 100px solid transparent !important;
        bottom: -8px;
        right: -14px;
        }
        a {
            position: relative;
            z-index: 1;
            font-size: 30px;
            color: #ffffff;
        }
        }
        .image_pp {
            img {
                width:100%;
            }
        }
       .content_pp {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.85);
        text-align: center;
         opacity: 0; 
        transition: 0.5s all;
        -webkit-transition: 0.5s all; 
        .content_ct {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        .content_pp_inner {
            .title {
                    margin-bottom: 7px;
                a {
                    font-size:30px;
                }
            }
            .cat {
                span:last-child {
                    display:none;
                }
                a {
                   position: relative;
                   font-size: 13px;
                   text-transform: uppercase;
                   &:after {
                    content:"";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #8d8a8b;
                    left: 0;
                    bottom: -1px;
                   }
                }
            }
        } 
        }
       } 
       &:hover {
        .content_pp {
            opacity:1;
        }
        .redmore {
         transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);   
        opacity: 1;
        }
       }
    }
}
/*---------------- Blog ------------------*/
.kitgreen-blog-holder {
    .post-item { 
        margin-bottom:50px;
        .bog-image {
            position:relative;
            overflow: hidden;
            &:before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
            background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
            }
            &:hover {
                &:before {
                -webkit-animation: shine .75s;
                animation: shine .75s;
                }
            }
        }
    }
    &.blog-footer {
      .post-item {
        margin-bottom: 20px;
        &:last-child .content-blog  {
            border:none;
        }
        .content-blog {
             border-bottom:1px solid #d7d7d7;
               padding-bottom: 15px;
          
           .title {
           margin-bottom: 7px;
            a {
              font-weight: 600;  
            }
           } 
        }
      }  
    }
    &.blog-menu {
        .post-item {
           .content-blog {
            .content-inner {
                .title {
                    h6 {
                        line-height: 24px;
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                }
              .blog-innfo  {
                text-transform: uppercase;
                font-size: 13px;
                margin-bottom: 5px;
                    margin-top: 17px;
                .cat {
                    padding-right:5px;
                }
              }  
            }
           } 
        }
    }
   &.border-bottom {
        .post-item {
            .bog-image {
                img {
                    width:100%;
                }
            }
           .content-blog {
            border:1px solid #dedede;
            border-top:none;
            padding: 28px;
            .content-inner {
                .title {
                    h6 {
                        font-weight:600;
                        line-height: 24px;
                        margin-bottom: 12px;
                    }
                }
               .blog-bottom {
               margin-top: 24px;
                .link_content {
                    a {
                        span {
                        vertical-align: middle;
                        padding-left: 12px;
                        font-weight: 500;   
                        }
                        letter-spacing: 0.5px;
                    }
                }
               } 
              .blog-innfo  {
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 500;
                margin-bottom: 10px;
                .cat {
                    padding-right:5px;
                }
              }  
            }
            &.border_top {
               borde-top:1px solid #dedede; 
            }
           } 
        }
   } 

}
   .blog-footer  {
    .kitgreen-blog-load-more {
    width: 190px;
    height: 50px;
    border-radius: 40px;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
    display: block;
    background-color: green;
    margin: 0 auto;
    margin-top: 0px;
    transition: 0.5s all;
    color: #ffffff;
    -webkit-transition: 0.5s all; 
    &.loading {
    .lnr {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
       &:before {
           content: "\e862";
       } 
    }   
    }
    .lnr {
        margin-left:9px;
    }  
    }
    .posts-loaded {
        text-align: center;
        display: none;
        margin-top: 50px;
        &.active {
            display:block;
        }
    }
   }
/*------------------- Blog Sidebar -------------------*/
.sidebar_blog {
  .widget {
    margin-bottom:70px;
    &.widget_tag_cloud {
       .tagcloud {
        a {
        color: #9c9c9c;
        border: 1px solid #dfdfdf;
        border-radius: 25px;
        text-align: center;
        padding: 3px 15px;
        font-size: 13px !important;
        margin-bottom: 15px;
        display: inline-block;
            margin-right: 5px;
            &:hover {
                color:#ffffff;
            }
        }
       } 
    }
    &.widget_zo-recent-posts-widget-with-thumbnails {
      ul {
        li {
            margin-bottom:30px;
          .tb-recent-detail {
            .post-tumb {
                width:80px;
                display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    overflow: hidden;
            }
            .post-content {
              width: calc(~"100% - 100px");
              display: inline-block; 
              vertical-align: middle;
                  .date_cat{
                    font-size: 11px;
                    display: flex;
                    text-transform: uppercase;
                    .cat {
                        a {
                            font-weight:500;
                        }
                    } 
                  }
                  > a {
                    font-weight: 500;
                  }
            }
          }  
        }
      }  
    }
    &.widget_categories {
        ul {
            li {
                margin-bottom:23px;
                a {
                    .cat-count {
                        float:right;
                    }
                    position:relative;
                    &:before {
                        vertical-align: middle;
                        margin-right: 12px;
                        content: "\f372";
                        font-family: Ionicons;
                        display:inline-block
                    }
                    &:hover {
                        &:before {
                         content: "\f373"; 
                        }
                    }
                }
            }
        }
    }
    &.widget_search {
       input , button {
        border:none;
        background: none;
       } 
       form {
        border: none;
        border-bottom: 1px solid #d7d7d7;
        width: 100%;
        position: relative;
            padding-bottom: 7px;
        input {
            width:100%;
        }
        button {
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            -webkit-transform: translatey(-50%);
            right: 0;
        }
       }
    }
    .widget-title {
       height:50px;
       line-height: 50px; 
       padding-left: 20px;
       color: #ffffff;
       margin-bottom:30px;
       width: calc(~"100% - 5px");
       position: relative;
       &:after {
        width: calc(~"100% + 5px");
        height: 100%;
        position: absolute;
        left: 0;
        top: 5px;
        content:"";
        opacity: 0.3;
        z-index: -1;
       }
    }
  }  
} 
/*----------------- Blog Single ----------------------*/
.jws-blog-detail {
    padding-top: 100px;
    .comments-area {
      .comments-title {
        font-weight:600;
        margin-bottom: 40px;
        margin-top: 0px;
      }  
      .comment-list {
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 5px;
        margin-bottom: 48px;
        > li:last-child {
            .comment-body {
              .comment-info {
                border-bottom:0px;
              }  
            }
          }
        li {
          .children {
            padding-left: 95px;

          } 
          .comment-body { 
             margin-bottom: 20px;
            .comment-avatar {
               display:inline-block;
               vertical-align: middle;
               width: 70px; 
               margin-right: 25px;
            }
            .comment-info {
               display:inline-block;
               vertical-align: middle;
               width: calc(~"100% - 100px"); 
               padding-bottom: 20px;
                border-bottom:1px solid #d7d7d7;
              .comment-header-info {
              align-items: center;
              margin-bottom: 7px;
                .reply {
                    margin-left: 110px;
                    a {
                        color:#9c9c9c;
                        font-size: 13px;
                        font-style: italic;
                        border-bottom: 1px solid #9c9c9c;
                    }
                }
                .comment-author {
                    margin-right: 5px;
                   a {
                   font-weight: 500;
                   } 
                }
                .comment-date {
                    font-size:13px;
                    color:#9c9c9c;
                }
              }  
            }
          }  
        }
      } 
      .comment-respond {
        .comment-reply-title {
            font-size:16px;
            text-transform: uppercase;
            margin-top: 0;
            font-weight: 600;
            margin-bottom: 50px;
        }
        .comment-form {
            margin: 0 -15px;
            textarea , input {
                width:100%;
                border:1px solid #dfdfdf;
                border-radius: 30px;
                font-size: 13px;
                padding-left: 28px;
                margin-bottom: 25px;
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color: #8d8d8d;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                  color: #8d8d8d;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                  color: #8d8d8d;
                }
                &:-moz-placeholder { /* Firefox 18- */
                  color: #8d8d8d;
                }
            }
            textarea {
                padding-top: 15px;
            }
            
            input {
                height: 50px;
            }
            .form-submit {
            padding: 0 15px;
            clear: both;
            margin-top: -5px;
              .submit  {
                width:190px;
                height: 50px;
                line-height: 50px;
                border-radius: 40px;
                color: #ffffff;
                padding: 0;
                font-size: 14px;
              }  
            }
        }
      } 
    }
    .post-related {
       .tt {
        font-weight:600;
        margin-top: 48px;
        margin-bottom: 47px;
       } 
       border-bottom: 1px solid #d7d7d7;
       margin-bottom:50px;
       .slick-arrow.ion-ios-arrow-right {
        right: -10px;
       }
       .slick-arrow.ion-ios-arrow-left {
        left:-10px;
       }
    }
    .blog-about-author {
        border-bottom: 1px solid #d7d7d7;
        padding: 50px 0;
        > div {
            display:inline-block;
            vertical-align: middle;
        }
        .avatar {
            width:110px;
            margin-right: 27px;
        }
        .blog-author-info {
          width: calc(~"100% - 150px"); 
          .at-name {
            margin-bottom: 15px;
           .text {
            font-size:13px;
           } 
          }
          .description {
              margin-bottom: 12px;  
          } 
          .icon-author {
            a {
                font-size:18px;
                margin-right: 30px;
            }
          }
        }
    }
   .blog-meta {
    .social_share {
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #d7d7d7;
      padding: 50px 0;
      h6 {
        margin: 0;
        font-weight: 600;
        margin-right: 45px;
        }
      ul {
        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 25px;
            &:last-child {
            margin-right: 0px;   
            }
            a {
                span {
                  font-size:19px;
                  margin-right: 6px;
                  transition: 0.4s all;
                  -webkit-transition: 0.4s all;  
                }
                color:#8d8d8d;
                font-size:13px;
            }
        }
      }  
    }
    .post-tags {
      border-bottom: 1px solid #d7d7d7; 
      padding: 50px 0;
      text-align: center;
      a {
    color: #9c9c9c;
    border: 1px solid #dfdfdf;
    border-radius: 25px;
    text-align: center;
    padding: 7px 15px;
    font-size: 13px !important;
    margin-bottom: 15px;
    margin: 0 5px;
    display: inline-block;
    margin-bottom: 5px;
    &:hover {
        color:#ffffff;
    }
      } 
    }
   } 
   .single-blog-page {
   border-bottom: 1px solid #d7d7d7;
   padding-bottom: 22px;
   .blog-details-img {
    position:relative;
   }
  .blog-details {
    position:absolute;
    bottom: 0;
    background-color: #ffffff;
    max-width: 625px;
    padding-left: 30px;
    padding-right: 30px;
    h3 {
        font-weight:600;
        font-size: 30px;
        margin-top: 4px;
        margin-bottom: 26px;
        line-height: 35px;
    }
    .post-meta {
     padding-top: 19px;
     .date_cat {
        display: flex;
        -webkit-display: flex;
        font-size: 13px;
        font-weight: 500;  
        .cat {
            span {
                margin-right:3px;
            }
        }
     a {
               text-transform: uppercase;
               font-weight: 500;
     } 
     }
     .info_post {
         display: flex;
        -webkit-display: flex; 
        font-size:13px;
        font-weight: 500;
        .line {
          margin-left:4px;  
        } 
        > div {
            margin:0 13px;
        }
        .author {
            margin-left:4px;
            .name {
             text-transform: uppercase;   
            }
        }
        .review {
            span {
                  vertical-align: middle;
            }
        }
        .like {
            .zilla-likes {
            background: none;
            position: relative; 
            &:before {
            content: "\e813";
            font-family: 'Linearicons-Free';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-rendering: auto;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            left: 0;
            top: 6px;
            } 
            }
        }
     }
    }

  }  
      .blog-content {
        padding-top: 43px;
      .container {
        width:100%;
        padding: 0;
      } 
      blockquote {
        font-weight: 600;
        font-style: italic;
        font-size: 14px;
        padding: 0;
        border-left: 0;
        position: relative;
        padding-left: 53px;
        padding-top: 16px;
        &:after {
            width:100%;
            height:10px;
            opacity:0.1;
            content:"";
            position: absolute;
            bottom: -7px;
            left: 0;
        }
        &:before {
            font-family: "Ionicons";
            content: "\f347";
            position: absolute;
            top: 0;
            left: 0;
            color: #9c9c9c;
            font-size: 60px;
            opacity: 0.2;
            font-style: normal;
        }
      } 
    }
}   
}

/*----------------- Count Up -------------------------*/
.counter_up_out {
    .odometer-formatting-mark {
        display:none;
    }
        text-align:center;
    .extra-counter {
    background: #ffffff;
    border-radius: 10px;
    padding: 25px 0;
   .text_content {
    .ct_icon {
                display: block;
                font-size: 48px; 
                margin-bottom: -2px;   
            }
            .counter-value {
                font-size:30px;
                margin-bottom: 5px;
            }
            .counter-label {
                font-size:13px;
                font-weight: 500;
            }
           } 
        } 
        &.layout1 {
            .extra-counter {
                background:none;
                .text_content {
                    .ct_icon {
                        color:#ffffff;
                    }
                  .counter-value {
                    font-size:36px;
                    margin-top: 14px;
                    color:#ffffff;
                    font-weight: 400;
                  } 
                  .counter-label {
                    font-size:16px;
                    color:#ffffff;
                     font-weight: 400;
                  }
                }
            }
        } 
}
/*-------------------- Team ---------------------------*/
.kitgreen-team-holder {
    .team-item {
        cursor: pointer;
        margin-bottom: 100px;
    }
    &.default2 {
        text-align:center;
       .team-item {
        .item_inner {
          background:#f6f6f6; 
          transition: 0.5s all;
          -webkit-transition: 0.5s all;
          .team-image {
            text-align:center;
            position: relative;
             .social {
                width: 200px;
                height: 50px;
                line-height: 50px;
                border-radius: 25px;
                text-align: center;
                margin: 0 auto;
                background-color: #ffffff;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                position: absolute;
                bottom: 50px;
                left: 50%;
                transform: translatex(-50%);
                -webkit-transform: translatex(-50%);
                li {
                    display: inline-block;
                    margin: 0 13px;
                    a {
                        color:#9c9c9c;
                        font-size: 30px;
                    }
                }
            }
            img {
               width:100%;
            }
          } 
          .team-infomation {
            padding: 25px 0;
            .title {
                h6 {
                    margin-bottom: 5px;
                    a {
                        font-weight:600;
                        letter-spacing: 0.5px;
                    }
                }
            }
          }
          &:hover {

             box-shadow: 0px 11px 21px rgba(0,0,0,0.16);  
             transform: translate3d(0,-5px,0); 
            -webkit-transform: translate3d(0,-5px,0); 
            .team-image { 
               .social { 
                li {
                    a {
                        color:#ffffff;
                    }
                }
               } 
            }
        } 
       } 
    }
	}
    &.default {
        text-align:center;
       .team-item {
        .item_inner {
          background:#f6f6f6; 
          padding: 50px 0; 
          .team-infomation {
            .position {
              margin-bottom: 28px;  
            }
            .title {
                h6 {
                    margin-bottom: 5px;
                    a {
                        font-weight:600;
                        letter-spacing: 0.5px;
                    }
                }
            }
            .social {
                width: 200px;
                height: 50px;
                line-height: 50px;
                border-radius: 25px;
                text-align: center;
                margin: 0 auto;
                background-color: #ffffff;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                li {
                    display: inline-block;
                    margin: 0 13px;
                    a {
                        color:#9c9c9c;
                        font-size: 30px;
                    }
                }
            }
          }  
          .team-image {
            text-align:center;
            margin-bottom: 30px;
            img {
                border-radius:100%;
                border:1px solid #dfdfdf;
            }
          } 
          &:hover {
            .team-infomation { 
               .social { 
                li {
                    a {
                        color:#ffffff;
                    }
                }
               } 
            }
          } 
        }
       } 
    }
}

/*-------------- Service --------------------*/
.kitgreen-service-holder {
    &.grid {
        .service-item { 
           .service_inner { 
            margin-bottom:45px;
            .service_icon {
                display:inline-block;
                width:100px;
                vertical-align: middle;
                margin-right: 25px;
            }
            .service-content {
               display:inline-block;
                width: ~"calc(100% - 130px)";
                vertical-align: middle; 
                .title {
                    h6 {
                        font-weight:600;
                        margin-bottom: 16px;
                    }
                }
                .readmore {
                    a:hover {
                      letter-spacing: 1px;  
                    }
                }
            }
            
           }
        } 
    }
   &.slider , &.grid2 {
    .slick-list {
      .slick-slide {
        margin:0 15px;
        } 
        margin:0 -15px; 
    }
    
    .service-item { 
       .service_inner {
        text-align:center;
        background:#ffffff;
        .service-image {
          cursor: pointer;
          position: relative;
          overflow: hidden;
          img {
            transition: 0.5s all;
                -webkit-transition: 0.5s all;
                width: 100%;
                height: auto; 
          }
             .redmore  {
                position: absolute;
                bottom: 8px;
                right: 14px;
                transition: 0.5s all;
                -webkit-transition: 0.5s all; 
                transform: translate3d(100%,0,0);
                -webkit-transform: translate3d(100%,0,0);
                ransition: 0.5s all;
                -webkit-transition: 0.5s all; 
                opacity: 0;
                &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 100px solid;
                border-left: 100px solid transparent !important;
                bottom: -8px;
                right: -14px;
                }
                a {
                    position: relative;
                    z-index: 1;
                    font-size: 30px;
                    color: #ffffff;
                }
              }
        }
        .service-content {
          padding: 50px 20px;
           .title {
            h6 {
              a {
              font-weight:600;  
            }  
            margin-bottom:15px;
            }
           } 
        }
       }
       &:hover {
        .service-image {
        .redmore {
            opacity:1;
            transform: translate3d(0%,0,0);
            -webkit-transform: translate3d(0%,0,0);
        } 
        img {
            opacity: 0.6;
        }
        } 
       } 
    }
   }
     &.grid2 {
       .service-item {
        margin-bottom:50px;
        .service_inner {
            background: #f6f6f6; 
        }
       } 
    } 
   .slick-dots {
        text-align: center;
            margin-top: 38px;
        li {
            button{
                display:none;
            }
            border:1px solid;
            width:20px;
            height: 10px;
            border-radius: 5px;
            display: inline-block;
                margin: 0 3px;
                transition: 0.2s all;
                -webkit-transition: 0.2s all;
            &.slick-active {
                width:30px;
            }
        }
    }
}
/*-------------- kitgreen-portfolio-slider -------------------*/
.kitgreen-portfolio-slider {
    .portfolio-thumbnail-container {
        margin-top: 45px;
       .slick-list  {
        margin:0 -15px;
        }
        .slick-slide {
            text-align:center;
            margin-right:15px;
            margin-left:15px;
        } 
        .slick-arrow {
            position: absolute;
            top: 50%;
            font-size: 18px;
            cursor: pointer;
            transform: translateY(-50%);
            border: 1px solid #7b7b7b;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            transition: 0.5s all;
            -webkit-transition: 0.5s all; 
            &:hover {
                color:#ffffff;
            }
            &.lnr-chevron-left {
               left: -80px; 
            } 
             &.lnr-chevron-right {
               right: -80px; 
            }   
        } 
        .portfolio-thumbnail {
            cursor: pointer;
        }
    }
   

   .portfolio-content-container {
    .portfolio-content  {
      .content {
        .readmore {
            a {
                display:block;
                width:190px;
                height: 50px;
                line-height:50px;
                border-radius: 40px;
                -webkit-border-radius: 40px;
                color: #ffffff;
                text-align: center;
                border:1px solid;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                    margin-top: 44px;
                &:hover {
                    background-color:#ffffff;
                    font-weight: 500;
                }
                span {
                       margin-left: 10px;
                    vertical-align: middle;
                }
            }
        }
        .cat {
                margin-bottom: 24px;
            a {
                font-size:13px;
                text-transform: uppercase;
                font-weight: 500;
                  border-bottom:1px solid #8a8a8a;
            }
            span:last-child {
                display:none;
            }
        }
        .title {
            h4 {
                    font-weight: 400;
                    margin-bottom: 6px;
                a {
                    font-size:30px;
                  
                }
            }
        }
      } 
    }
   } 
}
.instagram-widget {
    &.slider {
         .instagram-pics { 
            li {
                a {
                  span {
                    font-size:60px;
                  }  
                }
            }
         }
    }
  &.default {
    .instagram-pics {
        margin: 0 -2.5px;
        text-align: right;
       li {
       position:relative;
       width:70px;
       display: inline-block;
       margin: 2.5px 2.5px;
       }
    } 
  }  
  .instagram-pics {
    li {
        position:relative;
        .wrapp-pics {
            img {
                width:100%;
            }
        }
         a {
            opacity:0;
            &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.7; 
            content:"";
            }
       span {
       font-size: 24px;
        color: #ffffff;
        position: absolute;
        top: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
        -moz-transform: translate3d(0,100%,0);
        transform: translate3d(-50%,-50%,0);
        left: 50%;
        z-index: 1;
       }
       
    } 
     &:hover {
        a {
          opacity:1;  
        }
       
       }
    }
  
  } 
}
/*------------------- Pricing Table ----------------------*/
.kitgreen-price-table {
    border:1px solid #dfdfdf;
    background: #ffffff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    margin-bottom: 30px;
   .pricing_top {
    .image_pr {
        position:relative;
        &:after {
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            background: linear-gradient(rgba(255,255,255,0),#ffffff 100%);
        }
        img {
            width:100%;
        }
    }
   } 
   .kitgreen-plan-inner {
        padding-bottom: 48px;
    .kitgreen-plan-footer  {
     .price-plan-btn {
     border-radius: 40px;
    margin: 0 auto;
    width: 190px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    &:hover {
        opacity:0.8;
    }
    i {
    vertical-align: middle;
    margin-left: 5px;   
    }
     }   
    }
    .kitgreen-plan-features {
    padding-top: 36px;
    padding-bottom: 23px;
      .kitgreen-plan-feature {
        .item {
          margin-bottom: 24px;
        }
      }  
    }
    .kitgreen-plan-price {
       .kitgreen-price-value {
        font-size:30px;
        margin-bottom: 8px;
       } 
       .kitgreen-price-suffix {
        font-size:13px;
        color: #9c9c9c;
       }
    }
    .kitgreen-plan {
        margin-top: 5px;
        margin-bottom: 24px;
       .kitgreen-plan-name {
        h6 {
            font-weight:600;
        }
       } 
    }
   }
   &:hover {
    box-shadow: 0px 11px 21px rgba(0,0,0,0.16);
    transform: translate3d(0,-5px,0);
    -webkit-transform: translate3d(0,-5px,0);
   }
}
/*----------------- wpsl store -----------------*/
#wpsl-wrap {
  .wpsl-search {
    text-align: center;
        text-align: center;
    background: #f6f6f6;
    padding: 30px 0 20px 0 ;
        margin-bottom: 100px;
    #wpsl-search-wrap {
        div {
        margin-right: 30px;
        float: none;
        display: inline-block !important;
        vertical-align: middle; 
        text-align:left;  
        }
      label {
       font-weight:400;  
       float: none;   
    } 
    form {
        .wpsl-input {
            div {
                margin-right: 10px
            }
            input {
            height:60px;
            border:1px solid #dfdfdf;
            border-radius:0;
            width: 120px;
            
           }
           display: flex;
           align-items: center;
        }
        .wpsl-search-btn-wrap {
           input {
            width: 190px;
            height: 50px;
            line-height: 50px;
            border-radius: 40px;
            color: #ffffff;
            padding: 0;
            font-size: 14px;
            border: none;
            background: none;
            box-shadow: none;
           } 
        }
        .wpsl-select-wrap {
            .wpsl-dropdown {
            height: 60px;
            border: 1px solid #dfdfdf;
            border-radius: 0; 
            width: 120px;
            div {
                margin-right:0;
            }
            .wpsl-selected-item {
            line-height: 60px;
            padding: 0 !important;
            padding-left: 20px !important;
            &:after {
                font-family: 'Linearicons-Free';
                border:none;
                content: "\e874";
                right: 20px;
                top: initial;
                margin: 0;
            }
            }  
            }
        }
    }  
    }
    
  }  
  #wpsl-result-list {
    #wpsl-stores {
        ul {
            li {
               > strong {
                font-size:16px;
                display: block;
                margin-bottom: 15px;
                margin-top: 15px;
               } 
               .open_wpsl {
                .wpsl-direction-wrap {
                   padding-top:30px;
                    span {
                      &:before {
                        font-size:30px;
                      } 
                      font-size:18px; 
                    }
                    .wpsl-directions {
                        text-decoration: underline !important;
                        margin-top: 15px;
                        margin-bottom: 15px;  
                    }
                    .book {
                        color: #ffffff;
                        padding: 15px 5px;
                        font-size: 14px;
                        border: none;
                        background: none;
                        box-shadow: none;
                        display: block;
                        text-align: center;
                    }
                }
                .wpsl-store-location {
                    .wpsl-opening-hours {
                            width: 100% !important;
                        tr{
                            border-bottom: 1px solid #dfdfdf;
                            padding: 5px 0;
                            td:first-child {
                                font-weight:600;
                            }
                            td {
                                padding: 5px 0;
                            }
                        }
                    }
                  p {
                    span {
                    font-style: italic;
                     margin-bottom: 5px;   
                    }
                  }  
                }
               }
            }
        }
    }
  }  
}
/*-------------- Team Single -------------------*/
.team-single{
  margin-top:100px;  
  .related_team {
    .post-related {
    border-top: 1px solid #d7d7d7;
    padding-top: 97px;
    margin-top: 100px;
      .post-item {
        .team-infomation {
          .title {
            h6 {
                font-weight:600;
                margin-bottom: 4px;
            }
          }  
        }
      }
    }
  } 
  .team_lf {
        position:relative;
        .nav-box {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &.previous {
              left: -50px; 
            }
            &.next {
              right: -50px;  
            }
            a {
             font-size:18px;
            text-align: center;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            display:block;  
            border:1px solid #7e7e7e; 
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            &:hover {
                color: #ffffff;
            }
            }
            
        }
    } 
  .content_team {
    .content {
            padding: 0 65px;
      .team_visub {
        .container {
            width:100%;
            padding: 0;
        }
      }  
      .name_team {
        font-size:30px;
        font-weight: 600;
        margin-bottom: 1px;
      }
      .position {
           margin-bottom: 30px; 
      }
      .description {
        margin-bottom: 47px;
      }
      .social {
        width:200px;
        height: 50px;
        line-height: 50px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 42px;
        justify-content: center;
        li {
            a {
              color:#ffffff;
            font-size: 30px;  
               padding: 0 15px;
            }
            
        }
      }  
    }
  }  
}
/*--------------- Counter Down ------------------*/
.kitgreen-countdown-timer {
    .kitgreen-timer {
      display: flex;
 justify-content: center;
 align-items: center;  
 h4 {
    font-size:60px;
    font-weight: 300;
        margin: 0 3px;
    span {
       color:#ffffff;
       display: inline-block;
       width: 70px;
       height: 70px;
       line-height: 70px;
       text-align: center;
       border-radius: 100%;
       -webkit-border-radius: 100%; 
       font-size: 14px;
       transform: translate3d(-25px,26px,0);
       -webkit-transform: translate3d(-25px,26px,0);
    }
 }   
    }
 
}
/*----------------- Service Single --------------------*/
.service-single {
    margin-top:100px;
    .icon-get-link {
    font-size: 48px;
    text-align: center;
    transform: translateY(-170px);
    width: 50px;
    margin: 0 auto;  
    margin-bottom: -122px; 
    }
  .nav-post {
    justify-content: space-between;
        border-top: 1px solid #d7d7d7;
    padding: 100px 0;
    .nav-box {
        &.next {
            > a {
               img {
                margin-left:0;
                margin-right: 30px;
               } 
               .text-nav {
                > div {
                   .text_ser {
                    margin-left:0;
                    margin-right: 5px;
                   } 
                }
               }
            }
        }
       > a {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        img {
            margin-left: 30px;
        }
        .text-nav {
            font-weight: 600;
                font-size: 16px;
                
            > div {
                 font-weight: 400;
                     font-size: 14px;
                         margin-bottom: 13px;
                .text_ser {
                       font-style: italic; 
                           margin-left: 5px;
                }
            }
        }
       } 
    }
  }  
  .service_single_inner {
    .content_vc {
        margin-bottom: 70px;
      .container {
        width:100%;
        padding: 0;
        .service_sn {
           line-height:30px; 
           position: relative;
           padding-left: 40px;
           &:before {
            width:20px;
            height: 20px;
            position: absolute;
            content:"";
            border-radius: 100%;
            left: 0;
            top: 5px;
            opacity: 0.5;
            transition: 0.5s all;
            -webit-transition: 0.5s all;
           }
           &:hover {
            &:before {
             opacity: 1;   
            }
           }
        }
      }  
    }
    .service_meta {
        margin-bottom: 64px;
        .service-content {
            .service_icon {
                 width: 100px;
                display: inline-block;
                margin-right: 30px;
                margin-top: 13px;
            }
            .right {
              width: calc(~"100% - 140px");  
              display: inline-block;
              vertical-align: top;
              .title {
                h6 {
                    margin-bottom:25px;
                }
              }
              .service_description {
               font-size: 16px;
                line-height: 30px; 
                letter-spacing: 0px;
              }
            }
        }
    }
  }  
}
.portfolio-single {
    .load_design {
    position:relative;
   	&:before {
		content:"";
		background:rgba(255,255,255,1);
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		-webkit-transition: .7s all ;
		-moz-transition: .7s all ;
		-o-transition: .7s all ;
		transition: .7s all ;
		z-index:1;
	}
	&:after {
		z-index:2;
		bottom:auto;
		top:50%;
		margin-top:-18px;
		position:absolute;
		left:50%;
		bottom:-50px;
		margin-left:-17px;
		opacity:1;
		visibility:visible;
			-webkit-transition: .7s all ;
		-moz-transition: .7s all ;
		-o-transition: .7s all ;
		transition: .7s all ;
		content:" ";
		width:35px;
		height:35px;
		display:inline-block;
		vertical-align:middle;
		border:2px solid #252525;
		border-radius:50%;
		border-right-color:transparent !important;
		-webkit-animation:load-spin 450ms infinite linear;
		animation:load-spin 450ms infinite linear;
	}
    }
    .client-logo-wrapper {
       display:none !important;  
    }
        .content_vc {
           .container {
            padding: 0;
           } 
        }
        .modal {
            .container {
                width:100%;
            }
        }
     .booking_pp {
            text-align: center;
            height: 70px;
            line-height: 70px;
            margin-top: 50px;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            &:hover {
                opacity:0.8;
            }
            
            a {
                color:#ffffff;
                display: block;
                span {
                    margin-left: 8px;
                    vertical-align: middle;
                }
            }
        }
    .social {
            .social_share {
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid #d7d7d7;
              padding: 100px 0;
              h6 {
                margin: 0;
                font-weight: 600;
                margin-right: 45px;
                }
              ul {
                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 25px;
                    &:last-child {
                    margin-right: 0px;   
                    }
                    a {
                        span {
                          font-size:19px;
                          margin-right: 6px;  
                        }
                        color:#8d8d8d;
                        font-size:13px;
                    }
                }
              }  
        }
        }
    .prp_bottom {
     .icon-get-link {
        font-size: 48px;
        text-align: center;
        transform: translateY(-100px);
        width: 50px;
        margin: 0 auto;
        margin-bottom: -100px;    
     }   
     .nav-post {
        justify-content: space-between;
        padding: 100px 0;
        .nav-box {
            &.next {
                text-align:right;
                float: right;
            }
            &.previous {
                float: left; 
            }
            
           .text-nav {
            h3 {
            font-size: 30px;
            letter-spacing: 0;
            margin-bottom: 6px;
            margin-top: 0;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            }
            .text_ac {
                span {
                      vertical-align: middle;
                }
                &.prev {
                .lnr {
                    margin-right:15px;  
                } 
                }
                &.next {
                .lnr {
                    margin-left:15px;  
                } 
                }
                .text_bt {
                  border-bottom:1px solid #8d8d8d; 
                    font-size:13px; 
                }
            }
           } 
        }
     }   
    }
     /*------------- Defaul Layout 1 -------------------*/
    .defaul_container {
       .content_meta {
            margin-top: 42px;
        .pp_meta_right {
           .pp-title {
            font-size:30px;
            margin-top: 0;
                margin-bottom: 5px;
           } 
           .category {
           margin-bottom: 25px;
            a {
            position: relative;
            font-size: 13px;
            text-transform: uppercase;  
            border-bottom: 1px solid #828282;
            font-weight: 500;
            }
            .spec:last-child {
                    display:none;
            }
           }
        }
        .pp_meta_left {
          .item {
            background:#ffffff; 
            border:1px solid #dbdbdb;
            border-top:0;
            -webkit-box-align: stretch;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            display: -webkit-box;
            display: -webkit-flex;
            &:first-child {
              border-top:1px solid #dbdbdb;  
            }
            .even {
              border-right:1px solid #dbdbdb;
              width: 40%;
               padding: 19px 35px;
              i {
                font-size:18px;
                margin-right: 12px;
              } 
              font-size:16px;
              font-weight:600; 
            }
            .odd {
              width: 60%;  
            }
            span {
               padding: 19px 50px;
                display: inline-block;
                
            }
            &:nth-child(odd) {
               background:#f6f6f6; 
            }
          }  
        }
       } 
    }
    
    
    
    
    /*------------ Filter Layout 1 ------------------*/
   .design_container {
    position:relative;
  .background_project {
    width:100%;
    height: 600px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .detail {
      position: absolute;
      left: 25px;
      top: 25px;
      .open_detail {
        background: #ffffff; 
        transition: 0.5s all;
        -webkit-transition: 0.5s all; 
        &.active {
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            opacity: 0;
        }
      }
      .toget_detail {
        a {
         border-radius: 25px;
        margin-top: 15px;
        width: 190px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        display: block;
        .show_dt {
            display:none;
          } 
        &.active {
          .hide_dt {
            display:none;
          } 
          .show_dt {
            display:block;
          } 
        }
        }
      }
     .detail_design {
       > div:nth-child(odd) {
        background:#f6f6f6;
      } 
      > div {
        border: 1px solid #dbdbdb;
        border-top: 0px;
        padding: 0px 10px;
        height: 60px;
        line-height: 60px;
        span {
        border-right: 1px solid #d8d8d8;
        display: inline-block;
        width: 100px;
        text-align: center;
        }
        span:last-child {
             border-right:0;
        }

        
      }
     } 
      .detail_design {
        .label_filter {
        display: inline-block;
        width: 250px;
        margin-bottom: 0;
        border-right: 1px solid #d8d8d8;
        line-height: 60px;
        text-align: center;
        font-weight: 600;
        }
      } 
    }
    #total {
    background: #ffffff;
    text-align: center;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 70px; 
    }
}
.action_filter a.active {
    pointer-events: none;
} 
.data_tab {
     display: flex;
     margin-top: 57px;
     border-bottom: 1px solid #d7d7d7;
     li {
        padding: 12px 0px;
        font-size: 16px;
        position: relative;
        &:before {
         border-bottom: 1px solid #d7d7d7;
         position: absolute;
         bottom: -1px;
         left: 0;
         width: 100%; 
         content:"";
         height: 1px;  
        }
        a {
            border-right: 1px solid #d7d7d7;
            padding: 0 22px;
            font-size: 16px;
            font-weight: 600;
        }
        &:last-child {
            a {
                border:none;
            }
        }
     }   
}
.content_vc {
    margin-top:50px;
    .container {
        padding:0;
    }
} 
.content_tabs {
    margin-top: 25px;
  .tab-content {
    display:none;
    margin: 0 -15px;
    &.active {
        display:block;
    }
    li {
      display:inline-block; 
      a {
        .label_color {
           width:40px;
           height: 40px;
           border-radius: 100%; 
           background-position: center center;
           background-size: cover;
           background-repeat: repeat;
           display: inline-block;
      
        }
             &.active {
                .label_fl {
                    color:#ffffff;
                }
             .label_color {
            border:2px solid;
            padding: 3px;
        }
           }
        .label_fl {
            padding: 10px 20px;
            border: 1px solid #dfdfdf;
            font-size: 16px;
            font-weight: 500;  
        }
        span {
        vertical-align: middle;
        margin: 0 10px;  
        }
      } 
    }
  }  
 }

} 
}
/*----------------- Slider Banner ----------------------*/
.slider_banner {
  .slick-arrow {
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    background: rgba(255,255,255,0.8);
    text-align: center; 
    position: absolute;
    &:hover {
        color:#ffffff;
    }
    &.lnr-chevron-right {
        right:30px;
    }
    &.lnr-chevron-left {
        left:30px;
    }
  }  
  .image_thumbnail {
     margin-top: 25px;
    .slick-list {
        margin:0 -15px;
         .slick-slide {
        img {
            width:100%;
        }
        margin:0 15px;
    }
    }
   
  }  
}
.kitgreen-pagination { text-align:center;padding: 5px 0; }
.kitgreen-pagination .item {
  width:23px;
  height:23px;
  line-height:23px;
  border-radius:100%;
  position:relative;
  display:inline-block;
  text-align:center;
  color:#a9a9a9;
  margin:0 14px;
}
.kitgreen-pagination .item.current { color:#ffffff;background: #181818; }
.kitgreen-pagination .item:after {
  position:absolute;
  content:"";
  border:1px solid #a9a9a9;
  width:calc(100% + 6px);
  height:calc(100% + 6px);
  border-radius:100%;
  top:-3px;
  left:-3px;
}