@media(max-width:1199px) {
     #jws_header.jws-header-v5 .sticky-wrapper .menu_nav .mainmenu >.nav >li >a {
         padding: 24px 10px;   
    } 
    .wpcf7 .row_ct .row_il {
        width:49%;
    }
    body .custom_row {
        padding-left:30px !important;
        padding-right: 30px !important;
        text-align: center;
    }
    .kitgreen-countdown-timer .kitgreen-timer h4 span {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    margin: 0 auto;  
        display: block;
    }
    .portfolio-single .defaul_container .content_meta .pp_meta_left .item .even {
    font-size: 14px;  
        padding: 19px 25px; 
    }
    .team-single .content_team .content {
        padding: 0 10px;
    }
    #jws_header .sticky-wrapper .menu_nav .mainmenu >.nav >li >a {  
      padding: 38px 10px;  
    }
    #jws_header.jws-header-v3 .sticky-wrapper .menu_nav .mainmenu >.nav >li >a {  
      padding: 38px 5px;  
    }
	.teams-wrapper2 .team-member .team_inner {
		left:0;
		&:after {
			width:100%;
			opacity:0.7;
		}
	}
	.post-slider .post-item.layout-2 {
		.bog-image {
			margin:0 auto;
		}
		.content-blog {
			width:100%;
			padding-left:0;
			text-align:center;
			h5 {
				margin-bottom:0 !important;
				margin-top:15px !important;
				a {
					font-size:14px !important;
				}
			}
		}
	}
	.jws-registration-page #customer_login .social-login ul li a {
		width:100%;
	}
	.jws-registration-page #customer_login .col-register form .submit-row,.jws-registration-page #customer_login .col-login form .submit-row {
		display:block;
	}
	.woocommerce-order-received .woocommerce-columns--addresses .col-1,.woocommerce-order-received .woocommerce-columns--addresses .col-2 {
		float:none !important;
		width:100% !important;
		margin:0;
	}
	.shop_table td.product-thumbnail img {
		width:60px;
	}
	body #footer-jws .email .mc4wp-form {
		width:100%;
	}
	body .help {
		padding-left:15px;
	}
	.kitgreen-countdown-timer.timer-style-base .kitgreen-timer h4 {
		margin:15px !important;
	}
	.tb-products-grid article .product-thumb .kitgreen-countdown-timer {
		display:none;
	}
	.woocommerce div.product .content-product-right .shop-bottom form {
		width:auto !important;
		.single_add_to_cart_button,.single_add_to_cart_buttons {
			margin-left:0 !important;
		}
	}
	body .margin00 {
		margin-bottom:0 !important;
	}
	#jws_header .no_container {
		padding:0 15px;
	}
	.portfolio-filter .nav_3 {
		text-align:center;
	}
}
@media(max-width:991px) {
     .kitgreen-info-box.info_ct .info_inner_slider {
        text-align: center;
        max-width: 480px;
         margin: 0 auto;
    } 
    .portfolio-single .defaul_container .content_meta .pp_meta_left {
        margin-bottom:30px;
    }
    body .custom_info {
        > .vc_column-inner {
            padding-left:15px !important;
            padding-right:15px !important;
        }
    }
    #wpsl-wrap .wpsl-search {
        text-align: left;
        padding: 30px 30px 20px 30px;
    }
    #wpsl-search-wrap .wpsl-select-wrap {
        margin-bottom: 10px;
    }
    #wpsl-wrap .wpsl-search #wpsl-search-wrap form .wpsl-input input {
       width: 100% !important;
    }
    .team-single .related_team .post-related .post-item .team-infomation {
        text-align: center;
    }
    #wpsl-wrap .wpsl-search #wpsl-search-wrap div {
            margin-right: 0;
                display: inherit !important;
    float: left;
    }
    #wpsl-search-wrap .wpsl-dropdown {
        width:100% !important;
    }
    .team-single .team_lf {
        text-align: center;
    }
    #wpsl-wrap .wpsl-search #wpsl-search-wrap form .wpsl-search-btn-wrap  {
        input {
          clear: both;  
        }
         float: none;
    }
    .team-single .content_team .content .social{
     margin: 0 auto 30px auto;   
    }
    body #content .action-filter-swaper .shop-topbar-content {
        margin-right:0;
    }
    .team-single .content_team .content {
        padding: 30px 0;
    }
   body.single-product .shop-detail-sidebar {
        margin-top: 50px;
    }
    .portfolio-single .prp_bottom .icon-get-link , .service-single .icon-get-link {
        margin:0 auto;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        
    }
    body #content .action-filter-swaper .widgets-area .widget_jws_search_widget .search-modal.search-fix .modal-content form {
        width: auto;
        margin: 20px 0;
    }
    .service-single .service_single_inner .service_meta .service-content .service_icon {
        display:block;
            margin-bottom: 20px;
    }
    .service-single .service_single_inner .service_meta .service-content .right {
        width: 100%;
    }
    .service-single .service_single_inner .service_meta .service-content {
          margin-bottom: 30px;  
    }
    body .instagram-widget.default .instagram-pics {
        text-align:center;
    }
    .jws-header-v3 .mainmenu-area {
        height:50px;
        .button_menu {
            right: 0;
            top: initial;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);  
        }
    }
    body .icon_footer {
            text-align: left;
    }
    body .padding_01500 .vc_column-inner {
     padding-left: 7.5px !important;
    padding-right: 7.5px !important;   
    }
	.main-content {
		margin-bottom:0px !important;
	}
	.mc4wp-form .mc4wp-success p {
		margin:0 auto;
	}
	.mobile_menu .jws-logo {
		margin:0 auto !important;
		padding:15px 0;
		text-align:center;
	}
	body .woocommerce-cart .woocommerce-cart-form__cart-item .quantity,body .shop-bottom .quantity {
		width:130px;
	}
	body.woocommerce div.product .content-product-right .shop-bottom .single_add_to_cart_button,body.woocommerce div.product .content-product-right .shop-bottom .single_add_to_cart_buttons {
		width:140px;
	}
	.mc4wp-form {
		text-align:center;
		input {
			margin-bottom:20px;
			margin-top:20px;
		}
	}
	.sidebar_blog .widget .widget-title {
		position:relative;
	}
	.sidebar_blog .widget {
		margin-bottom:30px;
	}
	.header_vh .logo-wrapper {
		display:flex;
	}
	.kitgreen-timer h4 {
		height:120px;
		padding-top:29px;
		font-size:30px;
	}
	.woocommerce .catalog-sidebar .widget-title+*,.woocommerce .shop-topbar .widget-title+* {
		display:none;
	}
	.single .page-header,.page .page-header {
		text-align:center;
	}
	.checkout-order-review .woocommerce-checkout-review-order table tfoot tr td {
		padding-left:15px;
	}
	.checkout-order-review .woocommerce-checkout-review-order {
		padding:0 15px;
	}
	body .cart-actions .updatecart {
		margin:30px 0 0 0;
	}
	body .ui-slider .ui-slider-handle {
		width:15px;
		height:15px;
	}
	#media_image-2 {
		display:none;
	}
	body .catalog-sidebar {
		padding:0 15px;
	}
	body #content .action-filter-swaper .widgets-area,.catalog-sidebar {
		box-shadow:none;
		padding:0;
		.kitgreen_attributes_filter .pa_color ul li.show-color .count-atr {
			padding:0;
		}
		.shop-filter-actived .remove-filter-actived {
			margin-left:0;
			float:none;
			position:relative;
			background:#252525;
			color:#ffffff;
			display:block;
			width:150px;
			text-align:center;
			margin-top:15px;
			padding:0;
			&:after {
				display:none;
			}
		}
		.widget {
			display:block;
			width:100%;
			padding:0 !important;
			margin:0 !important;
			&.widget_layered_nav_filters {
				border-bottom:none;
				ul li:first-child a {
					margin-left:0;
				}
			}
			&.active {
				.widget-title:after {
					content:"\f3d8";
				}
			}
		}
	}
	body .kitgreen-products-element .products-footer .btn {
		width:50px;
		height:50px;
		background:#ffffff;
		border-radius:0;
		text-align:center;
		box-shadow:0 0 15px rgba(0,0,0,0.1);
		&:after {
			line-height:50px;
			font-size:25px;
			width:50px;
		}
	}
	body .tb-products-grid article .product-thumb .btn-inner-top {
		top:0;
		right:0;
	}
	body .tb-products-grid article .product-thumb>a:before {
		background:rgba(0,0,0,0.2);
	}
	.tb-products-grid article .product-thumb .btn-inner-top .product-compare-button {
		margin-bottom:-8px;
	}
	body .tb-products-grid article .product-thumb .btn-inner-top .product-compare-button a:before,.tb-products-grid article .product-thumb .btn-inner-top .yith-wcwl-add-to-wishlist>div>a:before {
		color:#959595 !important;
		opacity:1 !important;
	}
	#jws_header .right-header {
		z-index:1;
		position:relative;
		margin-right:56px;
	}
	.logo-center {
		text-align:left;
	}
	.jws-logo {
		margin:0 !important;
	}
	#jws_header {
		.vc_column_container>.vc_column-inner,.vc_column_container {
			padding:0 !important;
		}
		.vc_row[data-vc-full-width] {
			width:100%;
			border:none !important;
			overflow:initial;
		}
		.cmm-content-wrapper,.cmm-sub-wrapper {
			border:none !important;
		}
		.container-in-full .no-container {
			width:100%;
		}
	}
}
@media(max-width:767px) {
    .portfolio-single .design_container .background_project .detail .detail_design .label_filter {
         width: 130px;
         font-size: 14px;   
    }
    body #quick-view-modal.woocommerce div.product .content-product-left .product-images-content .woocommerce-product-gallery figure .woocommerce-product-gallery__image {
         min-height: auto;   
    }
    body #quick-view-modal.woocommerce div.product .content-product-left .product-images-content {
          padding: 15px !important;  
    }
    body #quick-view-modal.woocommerce div.product .content-product-right .shop-top {
        padding-top: 0;
    }
    .jws-blog-detail .single-blog-page .blog-details .post-meta .info_post .line {
        display:none;
    }
    .jws-blog-detail .single-blog-page .blog-details {
        position: relative;
        padding: 0;
            max-width: 100%;
    }
    .jws-blog-detail .single-blog-page .blog-details .post-meta .info_post .author {
        margin-left: 0;
    }
    body .ct_row_new {
      padding-left:15px !important;
      padding-right:15px !important;  
    }
    body .pd_15px {
        padding-right:15px !important;
        padding-left: 15px !important;
    }
    .service-single .nav-post .nav-box > a img {
        display:none;
    }
    .woocommerce .product-bottom .tab-product .woocommerce-tabs .wc-tabs li {
        margin: 0;
    }
    body .vc_row_o {
        margin:0;  
        .vc_column-inner {
            padding-left:15px !important;
             padding-right:15px !important;
        }  
    }
    .kitgreen-countdown-timer .kitgreen-timer {
        display: block;
    }
    body #content .action-filter-swaper .widgets-area .widget , body #content .action-filter-swaper .widgets-area .shop-filter-actived {
        float:none;
    }
    .jws-blog-detail .comments-area .comment-list li .comment-body .comment-info .comment-header-info {
        display: block;
    }
    .jws-blog-detail .blog-meta .social_share {
        display: block;
        h6 {
                margin-bottom: 20px;
        }
    }
    .jws-blog-detail .comments-area .comment-list li .comment-body .comment-info .comment-header-info .comment-author {
        font-size: 0px;
        a {
            font-size:14px;
        }
    }
    .jws-blog-detail .single-blog-page .blog-details h3 {
        font-size: 25px;
    }
    .jws-blog-detail .comments-area .comment-list li .comment-body .comment-info .comment-header-info .reply {
        margin: 0;
    }
    .mobile_mr {
        margin-bottom: 50px;
    }
    .jws-blog-detail .single-blog-page .blog-details .post-meta {
        display: block;
    }
    .jws-blog-detail .single-blog-page .blog-details .post-meta .info_post > div:first-child {
        margin-left: 0;
    }
    .slider_banner .image_thumbnail .slick-list .slick-slide {
          margin: 0 5px;  
    }
    .slider_banner .image_thumbnail .slick-list {
         margin: 0 -5px;  
    }
    .portfolio-single .prp_bottom .nav-post .nav-box .text-nav .text_ac .text_bt {
        font-size: 10px; 
    }
    .portfolio-single .prp_bottom .nav-post .nav-box .text-nav h3 {
        font-size: 16px;
    }

    .portfolio-single .design_container .content_tabs .tab-content li a .label_fl {
        display: block;
        margin-bottom: 10px;
    }
    .portfolio-single .social .social_share {
        display:block;
        h6 {
            margin-bottom:15px;
        }
    }
    .portfolio-single .design_container .background_project .detail {
        left: 10px;
    }
    .portfolio-single .design_container .background_project .detail .detail_design > div span {
        width: 80px;
        font-size: 12px;
    }
    .portfolio-single .design_container .data_tab li:before {
        width:104%;
    }
    .portfolio-single .design_container .data_tab {
        display:block;
        li {
             display: inline-block;
    width: 49%;   
        }
        a {
            border-right:none !important;
        }
    }
    body .title-bar-header .page-breadcrumbs {
        display:block;
    }
    .wpcf7 .row_ct .row_il {
        width:100%;
    }
    #jws_header .search-modal.search-fix .modal-content {
    padding: 0 30px;
    margin-bottom: 15px;  
    }
    body .instagram-widget.default .instagram-pics {
     text-align: left;   
    }
    .kitgreen-portfolio-slider .portfolio-content-container .portfolio-content .content .title h4 {
        margin-top:30px;
    }
    body .vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel {
        height:auto !important;
        .vc_tta-panel-heading {
            margin-top:0 !important;
        }
    }
    #jws_header.jws-header-v3 .top_bar .jws-action {
     justify-content: center;  
    }
    .kitgreen-info-box.process_icon2 {
        margin-bottom:30px;
    }
    #jws_header .top_bar .icon_header {
        text-align:center;
    }
    .kitgreen-blog-holder.blog-footer {
        margin:0;
    } 
    .testimonials-wrapper.layout1 #thmbnail-img {
        margin-top:0;
            width: auto;
    }
	body.woocommerce .product-bottom .tab-product .woocommerce-tabs .wc-tabs {
		display:block;
		li {
			width:100%;
            margin-bottom: 20px;
		}
	}
	body.woocommerce .product-bottom .tab-product .woocommerce-tabs .panel {
		padding:43px 15px;
	}
	.related-product .row {
		margin:0px;
	}
	.title-bar-header h4 {
		font-size:28px !important;
	}
	.ss1 {
		text-align:center;
	}
	body .tb-products-grid article .product-thumb .btn-inner-center {
		display:block;
		opacity:1;
		right:0;
		transform:translate(0);
		-webkit-transform:translate(0);
		left:initial;
		top:67px;
		a {
			transform:translateY(0);
			-webkit-transform:translateY(0);
			margin:5px 10px;
			opacity:1;
		}
	}
	body #footer-jws .sub-menu-heical,#footer-jws .copy_right {
		text-align:center;
	}
	#footer-jws .sub-menu-heical li:first-child {
		margin-left:0;
	}
	.teams-wrapper2 .team-member .team_container {
		max-width:360px;
		margin:0 auto !important;
	}
	.header_vh .logo-wrapper {
		display:block;
	}
	#quick-view-modal.woocommerce div.product .content-product-left .product-images-content img {
		width:auto !important;
		margin:0 auto;
	}
	.woocommerce-product-gallery__wrapper div a img {
		width:100% !important;
	}
	#quick-view-modal.woocommerce div.product .content-product-right {
		position:relative !important;
		background:rgba(255,255,255,0.9);
	}
	.portfolio-single .nav-post .nav-box {
		img {
			display:none !important;
		}
		.text-nav {
			padding:0 !important;
			border:none !important;
			margin:0 !important;
			p {
				font-size:14px;
			}
		}
	}
	.portfolio-single .icon-get-link a {
		transform:none;
		margin-top:45px;
	}
	.portfolio-single .pp-content-title {
		.pp-info>span {
			margin-bottom:15px;
		}
		text-align:left;
	}
	.pp-content-vc {
		padding:0;
	}
	.outside .product-thumbnails {
		display:none;
	}
	#yith-wcwl-form .wishlist_table tr th {
		font-size:14px;
	}
	#yith-wcwl-form {
		overflow-x:auto;
		margin-bottom:30px;
		overflow-y:hidden;
	}
	.woocommerce .woocommerce-MyAccount-content .woocommerce-orders-table {
		thead {
			display:none;
		}
		tr {
			display:block;
			text-align:right;
			border:1px solid #d1d1d1;
			border-bottom:none;
			margin-bottom:30px;
			td {
				display:block;
				position:relative;
				border-bottom:1px solid #d1d1d1;
				padding:15px;
				&:before {
					content:attr(data-title) ":";
					font-weight:600;
					float:left;
					color:#252525;
				}
			}
		}
	}
	.woocommerce .woocommerce-MyAccount-content .woocommerce-Addresses .u-column2,.woocommerce .woocommerce-MyAccount-content .woocommerce-Addresses .u-column1 {
		float:none;
		width:100%;
	}
	.woocommerce .jws-my-account-sidebar,.woocommerce .woocommerce-MyAccount-content {
		width:100%;
		float:none;
	}
	.jws-registration-page #customer_login .col-register form .submit-row .button,.jws-registration-page #customer_login .col-login form .submit-row .button {
		width:200px;
	}
	.jws-registration-page #customer_login .social-login ul li a i {
		width:70px;
		font-size:20px;
		margin-right:30px;
	}
	.acount-tt {
		font-size:10px;
		position:absolute;
		top:-100%;
		left:0;
		overflow:hidden;
		min-width:100px;
	}
	body.woocommerce-order-received .woocommerce-thankyou-order-details {
		display:block;
		li {
			border:none;
			border-bottom:1px solid #dfdfdf;
			padding-bottom:20px;
		}
	}
	.form-row-first,.form-row-last,.form-row-first,.form-row-last {
		width:100%;
	}
	.woocommerce-checkout .woocommerce .woocommerce-info {
		font-size:14px;
	}
	.cart-collaterals .continue {
		margin-bottom:15px;
		display:block;
	}
	.cart-actions .updatecart {
		padding:22px 15px;
	}
	.cart-actions .coupon {
		padding:16px 15px;
		.input-text {
			width:100%;
			margin-bottom:15px;
		}
	}
	.woocommerce-cart-form {
		.shop_table {
			width:100%;
			display:block;
			thead {
				display:none;
				th {
					width:25%;
					&.product-remove,&.product-thumbnail {
						display:none;
					}
				}
			}
			tbody {
				display:block;
				tr {
					display:block;
					margin:30px 0px;
					border:1px solid #d1d1d1;
					border-bottom:none;
					td {
						width:100%;
						display:block;
						position:relative;
						text-align:right;
						&:before {
							content:attr(data-title) ":";
							font-weight:600;
							float:left;
							color:#252525;
						}
						&.product-thumbnail {
							text-align:center;
						}
						&.product-remove:before,&.product-thumbnail:before {
							content:"";
						}
					}
				}
			}
		}
	}
	.woocommerce .product-top {
		padding:0 15px;
		.content-product-right {
			margin-top:30px;
		}
	}
	.woocommerce div.product .content-product-left .product-images-content {
		padding-right:0 !important;
		padding-left:0 !important;
		.product-thumbnails {
			position:relative !important;
			width:auto !important;
			margin-top:15px !important;
		}
	}
	body .tb-products-grid article .product-content .item-top .jws-attr-swatches .jws-swatch-variation-image .sub-swatch {
		width:25px;
		height:25px;
	}
	.tb-products-grid article .product-content {
		min-height:72px;
	}
	.kitgreen-blog-holder .post-item .content-blog .title {
		max-height:100px;
		min-height:50px;
		border-bottom:0;
	}
	body .kitgreen-blog-holder .post-item .content-blog .blog-innfo span.comment {
		float:none;
	}
	.post-item {
		margin-bottom:30px;
	}
	.post-item,.tb-products-grid {
		padding:0 5px;
	}
	#quick-view-modal.woocommerce div.product .row-same-height {
		margin:0!important;
		max-height:500px;
		overflow-y:auto;
		.content-product-left {
			padding:0px;
			height:auto;
		}
	}
	.row-same-height {
		display:block;
	}
	.owl-nav,.slick-arrow {
		display:none !important;
	}
	.blog-footer .btn.kitgreen-blog-load-more,.posts-loaded {
		margin-bottom:30px;
	}
	.single-post .blog-meta .action-link {
		position:relative;
	}
	.single-post .blog-about-author .blog-author-info {
		padding-left:0;
		width:100%;
		margin-top:30px;
	}
	.blog-content {
		.wpb_single_image.vc_align_right {
			text-align:left;
		}
	}
	.single-post .comments-area .comment-list li .comment-body {
		.comment-avatar {
			display:block;
		}
		.comment-info {
			width:100%;
			padding-left:0;
			margin-top:25px;
			&:after {
				left:0;
			}
		}
	}
	.team-member {
		margin-bottom:30px;
	}
	.woocommerce .product-bottom .tab-product .woocommerce-tabs .panel .woocommerce-Reviews #comments {
		.content-left,.comment-text {
			display:block;
			width:100%;
			padding-left:0;
		}
	}
	body #search-modal .modal-footer {
		.close-modal {
			position:relative;
			color:#ffffff;
			font-size:18px;
		}
	}
	body #jws_header #search-modal .modal-content {
		.search-results {
			margin-top:30px;
		}
		.search-results .woocommerce ul li {
			margin:0 5px;
			margin-bottom:20px;
			a {
				.title {
					line-height:15px;
					font-size:12px;
					margin-top:10px;
				}
			}
		}
		form {
			.product-cats label span {
				font-size:16px;
				margin:0 10px;
			}
			.search-field {
				font-size:26px;
			}
			.search-submit {
				bottom:8px;
			}
			.loading {
				bottom:28px;
			}
		}
	}
}
@media(min-width:992px) {
	#quick-view-modal.woocommerce div.product .content-product-right .shop-bottom .description {
		max-width:80%;
	}
}
@media(min-width:992px) and (max-width:1199px) {
	.kitgreen-blog-holder.default .post-item .content-blog {
		padding:0 12px;
	}
	.kitgreen-blog-holder.default .col-md-3 .link_content {
		display:none;
	}
}
@media(min-width:768px) and (max-width:1199px) {
	.header_vh {
		.border-bottom {
			.post-item {
				&.col-md-4 {
					width:50%;
				}
			}
		}
	}
}
@media(max-width:1199px) {
	.font-szie_18 {
		font-size:18px !important;
	}
	#jws_header .sticky-wrapper .menu_nav .mainmenu>.nav>li>.sub-menu-dropdown:not(.sub_standard) {
		width:100vw;
	}
	#jws_header .sticky-wrapper .menu_nav .mainmenu>.nav>li {
		position:initial;
	}
	.teams-wrapper.layout2 #carousel ul li {
		width:150px !important;
	}
	.padding_30 {
	}
	.footer-v4 {
		ul {
			text-align:center;
		}
	}
	body .margin_left_o {
		margin-left:0 !important;
	}
	.hidden_1199 {
		display:none;
	}
	.mc4wp-form input {
		width:250px;
	}
	body .pd_0 {
		padding-left:30px !important;
		padding-right:30px !important;
	}
}
@media(max-width:767px) {
	.border.vc_custom_heading {
		padding-left:0;
		&:before {
			display:none;
		}
	}
	#search-modal.layout1 .modal-content {
		width:100%;
	}
	.kitgreen-countdown-timer.timer-style-base .kitgreen-timer h4 {
		width:138px;
		margin:30px auto !important;
		display:block;
	}
	.coming-soon .mc4wp-form input {
		margin-bottom:0;
		margin-top:0;
	}
	.portfolio-single .pp_meta,.portfolio-single.layout1 .pp_meta_box {
		display:block;
	}
	.portfolio-single.layout1 .pp_meta_box>div {
		width:100%;
		margin-bottom:15px;
		border-right:1px solid #bababa;
	}
	.jws-blog-detail .comments-area .comment-list li .children {
		padding-left:30px;
	}
	.jws-blog-detail .comments-area .comment-respond .comment-reply-title>span {
		display:block;
	}
	.jws-blog-detail .comments-area .comment-list li .comment-body {
		display:block;
		.comment-avatar {
			overflow:initial;
		}
	}
	.jws-blog-detail .blog-about-author {
		display:block;
	}
	.jws-blog-detail .single-blog-page .blog-details .post-meta>div {
		font-size:12px;
	}
	.jws-blog-detail .blog-meta {
		display:block;
		.post-tags {
			margin-bottom:25px;
		}
	}
	.testimonials-wrapper.layout5 .testimonial .slider_container .slider_inner .testimonial-avatar {
		margin-bottom:25px;
	}
	.teams-wrapper.layout2 #slider ul li .member-image .team-member-avatar-image {
		display:block;
		border-radius:100%;
		max-width:360px;
		margin:0 auto;
	}
	.title_end {
		font-size:40px;
	}
	.testimonials-wrapper.layout5 .testimonial .slider_container .slider_inner {
		display:block;
	}
	body .form_shadow {
		padding:106px 30px !important;
	}
	.wpcf7-form {
		text-align:center;
	}
	body .form_shadow .wpcf7 form .item_row .your-message,body .wpcf7 form .item_row .wpcf7-form-control-wrap {
		width:100%;
		margin-top:30px;
	}
	.team-member.member-layout-layout3 {
		max-width:360px;
		margin:0 auto;
		margin-bottom:70px;
	}
	.counter_up_out.layout2 {
		margin-bottom:70px;
	}
	body .button_ct2 {
		display:block !important;
		margin:0 auto !important;
		margin-bottom:20px !important;
	}
	.testimonials-wrapper.layout3 .testimonial .slider_container {
		padding:0;
		.slider_inner {
			&:before,&:after {
				display:none;
			}
		}
	}
	.vc-hoverbox {
		max-width:360px;
	}
	.pricing-tables .kitgreen-price-table {
		max-width:360px;
		width:100% !important;
		display:block !important;
		margin:0 auto;
		margin-bottom:30px;
	}
	.teams-wrapper2 .team-member .member-image-wrapper {
		max-width:360px;
		margin:0 auto;
	}
	body .form2 .mc4wp-form input {
		width:100%;
		border-radius:40px;
	}
	.form2 .mc4wp-form button {
		border-radius:40px;
	}
	.team-member.member-layout-layout1 .team_container {
		max-width:270px;
		margin:0 auto;
	}
	.masonry-container .item_portfolio.metro {
		width:100% !important;
	}
	.button_kitgreen {
		margin:0 auto !important;
	}
	.text-ct-mb {
		text-align:center !important;
	}
	.promo-banner {
		padding:90px;
	}
	.testimonials-wrapper.layout1 .icon_inner {
		display:none;
	}
	.testimonials-wrapper.layout1 {
		padding:30px 15px;
	}
	.testimonials-wrapper.layout1 #content .testimonial-content {
		font-size:12px;
		padding:15px;
	}
	body .responsive {
		margin-bottom:0px !important;
		.vc_column-inner {
			margin-bottom:30px !important;
		}
	}
	.member-layout-layout5 {
		max-width:360px;
		margin:0 auto;
	}
	.team-member.member-layout-layout6 {
		max-width:360px;
		margin:0 auto;
		margin-bottom:30px;
	}
	.title_pr {
		text-align:center;
	}
	.member-layout-layout4 {
		margin-bottom:0;
	}
	.teams-wrapper .flexslider:hover .flex-direction-nav .flex-prev {
		left:0;
	}
	.teams-wrapper .flexslider:hover .flex-direction-nav .flex-next {
		right:0;
	}
	.jws-blog-detail .nav-post .nav-box .text-nav p,.jws-blog-detail .comments-area .comment-list li .comment-body .comment-header-info {
		font-size:12px;
	}
	.jws-blog-detail .single-blog-page .blog-content blockquote {
		font-size:18px;
	}
}
@media(max-width:1570px) {
	.header_vh .container {
		width:100%;
	}
	body .header_vh .sticky-footer-on {
		width:calc(~"100vw - 400px");
		left:375px;
	}
}
@media(max-width:1500px) {
	body .header_vh .sticky-footer-on {
		width:calc(~"100vw - 278px");
		left:255px;
	}
    .custom_info {
        > .vc_column-inner {
            padding-left:50px !important;
            padding-right:50px !important;
        }
    }
	.padding_01500 .vc_column-inner {
		padding-left:36px !important;
		padding-right:36px !important;
	}
	body .padding_o2 {
		padding:0px !important;
	}
	.kitgreen-blog-holder.blog-menu .post-item .bog-image {
		margin-right:0;
		margin-bottom:20px;
	}
	.kitgreen-blog-holder.blog-menu .top {
		display:block;
	}
	.header_vh {
		width:calc(~"100% - 250px");
		margin-left:250px;
	}
	.header_vh .sticky-footer-on {
		left:125px;
	}
}
@media(max-width:991px) {
	.shop_table.wishlist_table td.product-price span {
		font-size:12px;
	}
	body .header_vh .sticky-footer-on {
		width:100%;
		left:0;
	}
	body .sticky-footer-on {
		position:relative;
	}
	.header_vh .sticky-footer-on {
		left:0;
	}
	body #jws-shop-topbar .shop-topbar-content {
		display:block;
	}
	.sidebar_blog {
		.widget {
			>ul,>div {
				display:none;
				background:#fafafa;
				padding:30px;
			}
		}
	}
	.footer-v5 {
		.wpb_single_image.vc_align_center {
			text-align:left;
		}
	}
	body .header_vh {
		margin-left:0;
		width:100%;
	}
	.masonry-container.custom_pp .item_portfolio:nth-child(1),.masonry-container.custom_pp .item_portfolio:nth-child(3) {
		margin-top:0;
	}
	.teams-wrapper2 .team-member .team_container {
		margin-right:0;
	}
	body .kitgreen-info-box.tc {
		text-align:center;
		.has_icon {
			margin:0 auto;
		}
	}
	.form2 .mc4wp-form input {
		width:70%;
	}
	body .padding0 {
		.vc_column-inner {
			padding-top:0 !important;
		}
	}
	body .paddingrl0 {
		.vc_column-inner {
			padding-left:36px !important;
			padding-right:36px !important;
		}
	}
	.logo-wrapper {
		display:block;
		.logo_inner {
			margin-bottom:30px;
		}
		.logo_inner:nth-child(3) {
			clear:both;
		}
	}
	.extra-counter:after {
		display:none;
	}
	.row_menu {
		justify-content:space-between;
	}
	.margin_am .wpb_single_image {
		margin-right:0;
	}
	.list-inline>li {
		margin:10px;
	}
	.promo-banner {
		h2 {
			font-size:18px;
			margin-bottom:10px !important;
		}
		h3 {
			font-size:14px;
			margin-bottom:12px !important;
		}
	}
}
@media(min-width:480px) and (max-width:767px) {
	.col-xs-66 {
		width:50%;
	}
}
@media(max-width:480px) {
	.kitgreen-blog-holder.default .link_content {
		display: none;
	}
}
@media(min-width:1199px) { 
  .modal-dialog {
    width:1000px;
  }   
   .modal-body {
        padding: 15px 150px;
   } 
}