html input[disabled] {
	cursor:no-drop;
}
.kitgreen-animated-products {
	.tb-products-grid {
		opacity:0;
		transition:.315s all ease-in-out;
		-moz-transition:.315s all ease-in-out;
		-webkit-transition:.315s all ease-in-out;
		-o-transform:translate3d(0,0,0) translatey(15px);
		-moz-transform:translate3d(0,0,0) translatey(15px);
		-webkit-transform:translate3d(0,0,0) translatey(15px);
		transform:translate3d(0,0,0) translatey(15px);
	}
	.kitgreen-animated {
		opacity:1;
		-o-transform:translate3d(0,0,0) translatey(0px);
		-moz-transform:translate3d(0,0,0) translatey(0px);
		-webkit-transform:translate3d(0,0,0) translatey(0px);
		transform:translate3d(0,0,0) translatey(0px);
	}
}
.hidden-ct {
	display:none;
}
.remove-filter-actived {
	display:none;
}
.newpt {
	width:75px;
	height:25px;
	color:#ffffff;
	line-height:25px;
	text-align:center;
	position:absolute;
	top:20px;
	left:0;
	z-index:1;
}
.product-thumb .onsale {
	width:40px;
	height:40px;
	color:#ffffff;
	border-radius:100%;
	line-height:40px;
	position:absolute;
	top:15px;
	left:15px;
	z-index:1;
	text-align:center;
	font-weight:300;
	font-size:12px;
    background-color:#ff0000;
	span:first-child {
		height:15px;
		margin-top:-7px;
		font-size:14px;
	}
}
.marpt0 .tb-products-grid {
	margin-top:0;
}
#yith-wcwl-form {
	.shop_table td.product-name a {
		background:none;
	}
}
.single-product {
	.shop-detail-sidebar {
		margin-top:0;
        .widget_jws_search_widget {
              .search-modal.search-fix {
                .modal-content {
                       form {
                            width:100%;
                            height: 50px;
                            border-color: #dfdfdf;
                            background: transparent;
                            .loading {
                            bottom: 28px !important;
                             right: 50px !important; 
                            }
                            .search-fields {
                                .search-field{
                                    height:50px;
                                    font-size: 14px;
                                    width: 100%;
                                }
                                button {
                                    height:50px;
                                }
                            }
                      }  
                }
              } 
            }
	}
}
.content-search {
	.dgwt-wcas-suggestions-wrapp {
		.dgwt-wcas-suggestion {
			min-height:270px;
			display:inline-block;
			width:20%;
			background:none;
			margin:0 15px;
			border:none;
			animation:1.5s both;
			-webkit-animation:fadeIn 1.5s both;
			vertical-align:top;
			margin-bottom:25px;
			.dgwt-wcas-st {
				color:#ffffff;
				font-size:14px;
				strong {
					font-weight:400;
				}
			}
			.dgwt-wcas-content-wrapp {
				padding:0px;
				text-align:center;
				padding-left:10px;
				.dgwt-wcas-st {
					padding:0;
					text-align:center;
					position:relative;
					color:#ffffff;
					line-height:25px;
					margin-bottom:-9px;
				}
				.dgwt-wcas-sp {
					text-align:center;
					position:relative;
					color:#ffffff;
					.woocs_price_code {
						padding-left:10px;
						font-size:12px;
					}
				}
				.dgwt-wcas-sd {
					color:#a7a7a7;
					padding:0;
					text-align:center;
					margin-top:25px;
				}
			}
			.dgwt-wcas-si {
				width:100%;
				min-height:290px;
				position:relative;
				img {
					width:100%;
					margin:0;
					padding:0;
					border:0;
					border-radius:0;
					background:none;
				}
			}
		}
	}
}
.dgwt-wcas-suggestions-wrapp {
	position:fixed !important;
	max-height:60% !important;
	border:none !important;
	background:transparent !important;
	margin-top:15px;
}
.kitgreen-products-element {
	position:relative;
}
.price {
	.woocommerce-Price-amount:first-child {
		margin-right:2px;
	}
	.woocommerce-Price-amount:last-child {
		margin-left:2px;
	}
}
.kitgreen-products-element {
	.loaded-all {
		border:1px solid #959595;
		box-shadow:none;
		outline:none;
		background:transparent;
		width:211px;
		margin:0 auto;
		height:50px;
		line-height:50px;
		text-align:center;
	}
	.kitgreen-products-load-more {
		border:1px solid;
		clear:both;
		box-shadow:none;
		outline:none;
		background:transparent;
		width:170px;
		margin:0 auto;
		border-radius:inherit;
		padding:0;
		display:block;
		text-align:center;
		height:50px;
		line-height:50px;
		font-weight:600;
		line-height:49px;
		position:relative;
		transition:0.5s all;
		-webkit-transition:0.5s all;
		&.loading {
			padding-right:15px;
			&:after {
				bottom:auto;
				top:34px;
				margin-top:-18px;
				position:absolute;
				right:32px;
				margin-left:-17px;
				opacity:1;
				visibility:visible;
				-webkit-transition:all .3s ease-in-out;
				-moz-transition:all .3s ease-in-out;
				-o-transition:all .3s ease-in-out;
				transition:all .3s ease-in-out;
				content:" ";
				width:15px;
				height:15px;
				display:inline-block;
				vertical-align:middle;
				border:2px solid #252525;
				border-radius:50%;
				border-right-color:transparent !important;
				-webkit-animation:load-spin 450ms infinite linear;
				animation:load-spin 450ms infinite linear;
			}
		}
	}
	&.loading {
		&:after {
			top:50%;
			margin-top:-18px;
			position:absolute;
			left:50%;
			bottom:-50px;
			margin-left:-17px;
			-webkit-transition:all .3s ease-in-out;
			-moz-transition:all .3s ease-in-out;
			-o-transition:all .3s ease-in-out;
			transition:all .3s ease-in-out;
			content:" ";
			width:35px;
			height:35px;
			display:inline-block;
			vertical-align:middle;
			border:2px solid #252525;
			border-radius:50%;
			border-right-color:transparent !important;
			-webkit-animation:load-spin 450ms infinite linear;
			animation:load-spin 450ms infinite linear;
			z-index:2;
		}
	}
	.products {
		&.loading {
			opacity:0;
		}
	}
	.products-footer {
		margin-top:45px;
		.btn {
			position:fixed;
			top:50%;
			margin-top:-20px;
			z-index:2;
			opacity:0;
			width:40px;
			font-size:0;
			padding-top:0;
			padding-bottom:0;
			padding-left:0;
			padding-right:0;
			line-height:1;
			border:none;
			background-color:transparent;
			border-color:transparent;
			transition:.3s transform cubic-bezier(.175,.885,.32,1.15),opacity .2s ease,visibility .2s ease;
			-o-transition:.3s transform cubic-bezier(.175,.885,.32,1.15),opacity .2s ease,visibility .2s ease;
			-moz-transition:.3s transform cubic-bezier(.175,.885,.32,1.15),opacity .2s ease,visibility .2s ease;
			-webkit-transition:.3s transform cubic-bezier(.175,.885,.32,1.15),opacity .2s ease,visibility .2s ease;
			opacity:0;
			&:after {
				position:absolute;
				font-size:50px;
				color:#252525;
				font-family:"Ionicons";
				display:block;
			}
			&.kitgreen-products-load-prev {
				&:after {
				    content: "\f3d2";
				}
			}
			&.kitgreen-products-load-next {
				&:after {
				    content: "\f3d3";
				}
			}
		}
		&.show-arrow {
			.btn {
				opacity:1;
				visibility:visible;
				&.disabled {
					opacity:0.5;
				}
			}
		}
	}
}
.tb-products-grid {
	margin-bottom:46px;
    text-align: center;
	article {
	   border:1px solid #dcdcdc;
		.product-content {
		  border-top:1px solid #dcdcdc;
            padding-top: 27px;
            padding-bottom: 23px;
			.item-top {
				.product-title {
					margin:0;
					margin-bottom:2px;
					margin-bottom:10px;
					margin-right:5px;
					line-height:20px;
                    font-weight: 600;
				}
				.jws-attr-swatches {
					line-height:0;
					.jws-swatch-variation-image {
						display:inline-block;
						vertical-align:top;
						margin-left:5px;
						position:relative;
						cursor:pointer;
						&:after {
							content:attr(title);
							position:absolute;
							bottom:80%;
							text-indent:0;
							background:#000;
							padding:5px 10px;
							line-height:1;
							border-radius:20px;
							margin-bottom:10px;
							min-width:50px;
							color:#fff;
							left:50%;
							white-space:pre;
							text-align:center;
							text-transform:none;
							transform:translate(-50%,0);
							-ms-transform:translate(-50%,0);
							-webkit-transform:translate(-50%,0);
							visibility:hidden;
							opacity:0;
							transition:all 250ms ease-out;
							font-size:8px;
						}
						&:before {
							content:"";
							position:absolute;
							left:50%;
							bottom:80%;
							border-width:4px 4px 0 4px;
							border-style:solid;
							border-color:#000 transparent transparent transparent;
							margin-bottom:6px;
							margin-left:-4px;
							visibility:hidden;
							opacity:0;
							transition:all 250ms ease-out;
						}
						&:hover {
							&:before,&:after {
								bottom:100%;
								opacity:1;
								visibility:visible;
							}
						}
						&:first-child {
							margin-left:0px;
						}
						.sub-swatch {
							display:inline-block;
							width:15px;
							height:15px;
							border-radius:100%;
							-webkit-border-radius:100%;
						}
					}
				}
				.yith-wcqv-button {
					display:none;
				}
			}
			.item-bottom {
				.price {
				    margin-top:0;
                    margin-bottom: 7px;
					.woocommerce-Price-currencySymbol {
						margin-right:5px;
					}
				}
                > span {
                    vertical-align: middle;
                }
			}
		}
		.product-thumb {
			position:relative;
			overflow:hidden;
			img {
				width:100%;
				height:auto;
                transition: 1s all;
                -webkit-transition: 1s all;
			}
			.product-attr {
				position:absolute;
				bottom:5px;
				z-index:2;
				color:#ffffff;
				left:11px;
				opacity:0;
				transform:translatex(-15px);
				-webkit-transform:translatex(-15px);
				-webkit-transition:all .3s ease-in-out;
				-moz-transition:all .3s ease-in-out;
				-o-transition:all .3s ease-in-out;
				transition:all .3s ease-in-out;
				p {
					margin-bottom:0;
				}
			}
			.overlay-loader div {
				position:absolute;
			}
			&.image-loading {
				.overlay-loader {
					display:block;
					background:rgba(255,255,255,0.7);
				}
			}
			>a {
				display:block;
				z-index:1;
				position:relative;
				&:before {
					background:rgba(0,0,0,0.2);
					width:100%;
					height:100%;
					left:0;
					top:0;
					position:absolute;
					content:"";
					z-index:0;
					opacity:0;
					transition:0.3s all;
					-webkit-transition:0.3s all;
					z-index:1;
				}
			}
			.gallery {
				position:absolute;
				top:0;
				left:0;
				opacity:0;
				width:100%;
				transition:0.3s all;
				-webkit-transition:0.3s all;
			}
			.btn-inner-center,.btn-inner-top {
				position:absolute;
				z-index:1;
			}
			.content-inner-bt {
				text-align:center;
				left:0;
				width:100%;
				bottom:20px;
				position:absolute;
				color:#ffffff;
				z-index:99;
				opacity:0;
				transition:0.3s all;
				-webkit-transition:0.3s all;
					a {
						color:#ffffff !important;
					}
				.price {
					font-size:12px;
					.amount {
						color:#ffffff !important;
					}
				}
			}
			.btn-inner-center {
				top:50%;
				text-align:center;
				left:0;
				display:-webkit-flex;
				display:-ms-flexbox;
				display:-webkit-box;
				display:flex;
				-webkit-transition:.2s ease-out;
				-moz-transition:.2s ease-out;
				transition:.2s ease-out;
				left:50%;
				transform:translate(-50%,-50%);
				-webkit-transform:translate(-50%,-50%);
				.yith-wcwl-add-to-wishlist {
					margin:0;
					.feedback {
						display:none;
					}
					>div {
						a {
							font-size:0;
							position:relative;
							&:before {
								font-family:"Ionicons";
								position:absolute;
								font-size:18px;
								left:50%;
								transform:translateX(-50%);
								-webkit-transform:translateX(-50%);
							}
						}
						&.yith-wcwl-add-button {
							a:before {
								content:"\f387";
							}
						}
						&.yith-wcwl-wishlistaddedbrowse,&.yith-wcwl-wishlistexistsbrowse {
							a:before {
								content:"\f388";
							}
						}
					}
				}
				.added_to_cart {
					display:none;
				}
				a {
					display:block;
					background:#ffffff;
					border-radius:100%;
					-webkit-border-radius:100%;
					width:40px;
					height:40px;
					margin:13px auto;
					font-size:18px;
					line-height:40px;
					font-weight:400;
					opacity:0;
					padding:0;
					transform:translateY(-15px);
					-webkit-transform:translateY(-15px);
					margin:0 10px;
					&:hover {
						color:#ffffff;
					}
				}
			}
			.btn-inner-top {
				top:29px;
				right:20px;
				.product-compare-button {
					a {
						font-size:0;
						width:35px;
						height:35px;
						line-height:35px;
						position:relative;
						background-color:transparent;
						&:before {
							content:"\f0ec";
							font-size:18px;
							vertical-align:middle;
							margin-right:2px;
							display:inline-block;
							font-family:'Pe-icon-7-stroke';
							font:normal normal normal 14px/1 FontAwesome;
							color:#ffffff;
							opacity:0;
						}
					}
				}
				.product-quick-view {
					width:35px;
					height:35px;
					line-height:35px;
					position:relative;
					background-color:transparent;
					&:after {
						content:"\f06e";
						font-size:18px;
						vertical-align:middle;
						margin-right:2px;
						display:inline-block;
						font-family:'Pe-icon-7-stroke';
						font:normal normal normal 14px/1 FontAwesome;
						opacity:1;
					}
				}
			}
		
		}
        	&:hover  {
    			 img {
    			    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
    			 }
				.product-attr {
					opacity:1;
					transform:translateY(0px);
					-webkit-transform:translateY(0px);
                    
				}
				.btn-inner-center a {
					transform:translateY(0px);
					-webkit-transform:translateY(0px);
				}
				.content-inner-bt,.gallery,.product-thumb > a:before {
					opacity:1;
				}
				.yith-wcwl-add-to-wishlist>div>a:before {
					opacity:1;
				}
				.btn-inner-center {
					opacity:1;
					a {
						opacity:1;
					}
				}
				.btn-inner-top {
					.add_to_wishlist {
						&:before {
							opacity:1;
						}
					}
					.product-compare-button {
						a:before {
							opacity:1;
						}
					}
				}
			}
	}
}
.dgwt-wcas-suggestions-wrapp::-webkit-scrollbar-track {
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	background-color:#F5F5F5;
}
.dgwt-wcas-suggestions-wrapp::-webkit-scrollbar {
	width:6px;
	background-color:#F5F5F5;
}
.dgwt-wcas-suggestions-wrapp::-webkit-scrollbar-thumb {
	background-color: #000000;
}
/* Ajax Tabs */
.kitgreen-tab-content {
	position:relative;
	transition:transform .2s ease,opacity .2s ease,visibility .2s ease;
	-webkit-transition:transform .2s ease,opacity .2s ease,visibility .2s ease;
	transform:translateY(0);
	-webkit-transform:translateY(0);
	&.loading {
		opacity:0;
		-o-transform:translate3d(0,30px,0);
		-moz-transform:translate3d(0,30px,0);
		-webkit-transform:translate3d(0,30px,0);
		transform:translate3d(0,30px,0);
	}
}
.kitgreen-tabs-header {
	.tabs-navigation-wrapper {
		text-align:center;
		margin-bottom:10px;
		li {
			display:inline-block;
			position:relative;
			margin:0 15px;
			padding:0 5px;
			&:after {
				background:#767676;
				content:"";
				margin:0 auto;
				width:0;
				height:1px;
				transition:0.5s all;
				position:absolute;
				bottom:4px;
				left:0;
			}
			&.active-tab-title,&:hover {
				&:after {
					width:100%;
				}
			}
			span {
				cursor:pointer;
				text-transform:uppercase;
				font-weight: 400;
			}
		}
	}
}
/*------------------Product Slider-----------------*/
.owl-carousel {
	.owl-carousel-item {
		.tb-products-grid {
			width:100%;
			padding:0;
		}
	}
	.owl-nav {
		position:absolute;
		top:50%;
		width:100%;
		opacity:0;
		transform:translatey(-50%);
		-webkit-transform:translatey(-50%);
		-webkit-transition:.3s ease-out;
		-moz-transition:.3s ease-out;
		transition:.3s ease-out;
		div {
			position:absolute;
			color:#000000;
			text-align:center;
			font-size:50px;
			&:hover {
				color:#ffffff;
			}
			&.owl-prev {
				left:5px;
			}
			&.owl-next {
				right:5px;
			}
		}
	}
	&:hover {
		.owl-nav {
			opacity: 1;
		}
	}
}
/*----------------------- Product Category-----------------------*/
.category-content {
   .inner {
    h6 {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 28px; 
    transition: 0.5s all;
    -webkit-transition: 0.5s all; 
    }
   } 
}
.categories-style-default {
	text-align:center;
	.cat-item {
	   .category-content {
	      .product-category-thumbnail {
	       position:relative;
           overflow: hidden;
           &:before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
           }
	      } 
	   }
       &:hover {
         .category-content { 
            .product-category-thumbnail {
                &:before {
                -webkit-animation: shine .75s;
                animation: shine .75s;  
                }
            }
         }
       }
	}
}
/*------------------ Qick View -------------------*/
#quick-view-modal.woocommerce div.product {
	.shop-bottom {
		.quantity {
			width:140px;
            margin-bottom: 30px;
		}
	}
	.hidden-on-qick {
		display:none;
	}
	&.layout-3 .content-product-left .product-images-content .woocommerce-product-gallery figure .woocommerce-product-gallery__image {
		padding:0;
	}
	.row-same-height {
		margin-right:0rem;
	}
	.content-product-left {
		&::-webkit-scrollbar-track {
				-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
				background-color:#F5F5F5;
		}
		&::-webkit-scrollbar {
				width:6px;
				background-color:#F5F5F5;
		}
		&::-webkit-scrollbar-thumb {
				background-color:#000000;
		}
		.product-images-content {
			padding:35px !important;
			img {
				width:100%;
				height:auto;
			}
		}
	}
	.content-product-right {
		.shop-top {
			padding-top:50px;
		}
		overflow-x:auto;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		overflow-x:hidden;
		padding-bottom:50px;
			&::-webkit-scrollbar {
					width:6px;
					background-color:transparent;
                    transition: 0.5s all;
			}
			&::-webkit-scrollbar-thumb {
					background-color:transparent;
                    transition: 0.5s all;
			}
            &:hover {
              &::-webkit-scrollbar-thumb {
					background-color:#999999;
			 }  
            }
	}
}
.yith-wcqv-wrapper {
	.yith-wcqv-main {
		#yith-quick-view-content {
			.summary-content {
				padding:30px 60px;
				.product_title.entry-title {
					font-size:24px;
					margin-top:0;
				}
				.woocs_price_code {
					.amount {
						font-size:24px;
                        font-weight: 500;
					}
				}
			}
		}
	}
}
#quick-view-modal {
	&.woocommerce div.product .content-product-left .product-images-content .woocommerce-product-gallery figure .woocommerce-product-gallery__image {
		margin-bottom:0;
        min-height: 476px;
	}
	&.woocommerce div.product.layout-4 .content-product-right .shop-bottom form .single_add_to_cart_button {
		margin-left:0px;
		margin-top:0;
	}
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:auto;
	visibility:hidden;
	outline:0;
	display:none;
	background:rgba(0,0,0,.6);
    transition: 0.3s all;
    -webkit-transiton: 0.3s all;
    opacity: 0;
    visibility: hidden;
    display: block;
	&.loading {
		.jws-ajax-loader {
			display:block;
		}
	}
    .woocommerce-product-gallery__wrapper {
        &:before {
        top: 50%;
        z-index: 2;
        position: absolute;
        opacity: 1;
        left: 50%;
        visibility: visible;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        content: " ";
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        border: 2px solid #000000;
        border-radius: 50%;
        border-right-color: transparent !important;
        -webkit-animation: load-spin 450ms infinite linear;
        animation: load-spin 450ms infinite linear;
        }
        &:after {
            background: rgba(255,255,255,0.9);
            position: absolute;
            width: 100%;
            height: 100%;
            content:"";
            top: 0;
            left: 0;
            transition: 0.7s all;
            -webkit-transition: 0.7s all;
        }
        &.loaded {
            &:before , &:after {
                opacity:0;
                visibility: hidden;
            }
        }
    }
	.close-modal {
		position:absolute;
		right:20px;
		top:20px;
		font-size:30px;
		color:#252525;
		z-index:1;
		font-weight:600;
		display:none;
	}
	div.product {
		position:relative;
		.close-modal {
			display:block;
		}
	}
	.modal-content {
		transition:transform 0.5s;
		transform:translateY(-50%);
		position:absolute;
		top:50%;
		width:100%;
		padding-top:0;
		box-shadow:none;
		background:none;
		border-radius:0;
		border:0;
		outline:none;
		opacity:0;
		transition:opacity 0.5s;
		transition-delay:2s;
		.product {
			background:#ffffff;
			overflow:hidden;
		}
	}
	&.open {
		.modal-content {
			opacity:1;
		}
        .product {
         animation: fadeInLeft 1s both;
         -webkit-animation: fadeInLeft 1s both;   
        }
		visibility:visible;
	}
}
.modal-open {
	#quick-view-modal {
		opacity: 1;
		z-index:99999;
		.hidden-ct {
			display:block;
		}
	}
}
.woocommerce #content div.product div.images,.woocommerce div.product div.images,.woocommerce-page #content div.product div.images,.woocommerce-page div.product div.images {
	width:100%;
	float:none;
	position:relative;
    border:1px solid #dfdfdf;
}
#jws-shop-topbar {
     margin-bottom: 50px;
	width:100%;
	.widget_layered_nav_filters {
		width:auto !important;
		ul {
			li {
				display:inline-block;
				a {
					position:relative;
					padding-left:15px;
					font-size:12px;
					margin-left:15px;
					&:after {
						content:" X ";
						position:absolute;
						left:0;
						top:50%;
						transform:translateY(-54%);
						-webkit-transform:translateY(-54%);
						font-size:12px;
						font-weight: bold;
					}
				}
			}
		}
	}
}
/*-------------------- Single Product--------------------*/
.woocommerce-message {
	color:#3c763d;
	border-color:#39b54a;
	&:before {
		content:"\f00c";
	}
}
.woocommerce-error,.woocommerce-info {
	color:#AF7D27;
	border-color:#E0B252;
	&:before {
		content:"\f071";
	}
}
.woocommerce-error,.woocommerce-info,.woocommerce-message {
	background-color:transparent;
	border:2px solid;
	border-radius:0;
	overflow:hidden;
	margin:0 0 20px 0;
	padding:14px 25px 14px 55px;
	line-height:1.4;
	position:relative;
	font-size:14px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	.button {
		display:none;
	}
	&:before {
		position:absolute;
		top:50%;
		line-height:0;
		font-size:18px;
		font-family:FontAwesome;
		left:24px;
	}
}
.woocommerce {
	&.single-product {
		#content {
			margin-bottom:100px;
			margin-top:100px;
		}
	}
	.related-product {
		padding-top:115px;
		.slick-arrow {
			&.ion-ios-arrow-left {
				left:20px;
			}
			&.ion-ios-arrow-right {
				right:20px;
			}
		}
		.product-related-title {
			             height: 50px;
                        line-height: 50px;
                        color: #ffffff;
                        margin-bottom: 45px;
                        padding: 0 20px;
                        position: relative;
                        display: inline-block;
                        padding-right: 100px;
                        font-weight: 600;
                        &:after {
                        width: ~"calc(100% + 5px)";
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 5px;
                        content: "";
                        z-index: -1;
                        opacity:0.3}
		}
	}
	.product-bottom {
		margin-top:100px;
		.tab-product {
			.woocommerce-tabs {
				.panel {
					padding:28px 0;
					box-shadow:none;
					.container {
						width:100%;
						padding:0;
					}
					.woocommerce-Reviews {
						.star-rating {
							display:block;
							margin:15px 0;
						}
						#comments {
							li {
								margin-bottom:30px;
							}
							.comment-text {
								display:inline-block;
								vertical-align:top;
								width:calc(~"100% - 110px");
								padding-left:30px;
								.meta {
									strong {
										position:relative;
										padding-left:9px;
										font-weight:500;
										&:before {
											content:"-";
											position:absolute;
											top:-4px;
											left:0;
											font-weight:300;
										}
									}
								}
							}
							.content-left {
								display:inline-block;
								vertical-align:top;
								width:80px;
							}
						}
						#respond {
							textarea,input {
								background:transparent;
								outline:none;
								box-shadow:none;
								border:1px solid #dddddd;
								padding:8px;
								width:100%;
							}
							.comment-form-author,.comment-form-email {
								display:inline-block;
								width:100%;
							}
							.comment-form-author {
								margin-right:30px;
							}
							p {
								margin-bottom:22px;
							}
							input#submit {
								width:200px;
								height:46px;
								line-height:46px;
								border-radius:25px;
								text-align:center;
								color:#ffffff;
								text-transform:uppercase;
								font-weight:500;
								border:0;
								padding:0;
								&:hover {
									background:#252525;
									color:#ffffff;
								}
							}
						}
					}
					.shop_attributes {
						border:none;
						width:100%;
						th {
							font-weight:400;
							border:1px solid rgba(0,0,0,.1);
							padding:5px 8px;
						}
						td {
							border:1px solid rgba(0,0,0,.1);
							border-left:none;
							font-style:normal;
							padding:5px 8px;
							p {
								margin:0;
							}
						}
					}
				}
				.wc-tabs {
					text-align:center;
					display:flex;
					-webkit-display:flex;
                    margin: 0 -10px;
					li {
						margin:0 10px;
                         padding-bottom: 5px;
						a {
		                  height: 50px;
                        line-height: 50px;
                        color: #ffffff;
                        padding: 0 20px;
                        position: relative;
                        display: block;
                        text-transform: uppercase;
                        font-weight: 600;
                       
                        &:after {
                        width: ~"calc(100% + 5px)";
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 5px;
                        content: "";
                        opacity: 0.3;
                        z-index: -1;
                        }
						}
					}
				}
			}
		}
	}
	div.product {
		.content-product-left {
			.product-advanced {
				position:absolute;
				bottom:15px;
				right:15px;
			}
			.ad-item {
				width:130px;
				height:40px;
				line-height:40px;
				border-radius:25px;
				background:rgba(255,255,255,0.7);
				text-align:center;
				font-size:10px;
				display:inline-block;
				&:last-child {
					margin-left:20px;
				}
				a {
					display:block;
					i {
						font-size:18px;
						vertical-align:middle;
						font-weight:600;
						margin-right:0px;
						margin-bottom:3px;
					}
					span {
						font-size:18px;
						font-weight:600;
						margin-right:5px;
						vertical-align:middle;
						margin-bottom:3px;
					}
				}
				&:hover {
					background:rgba(0,0,0,0.7);
					a {
						color:#ffffff;
					}
				}
			}
			.product-images-content {
				position:relative;
				padding-left:100px;
				&.no_galley .woocommerce-product-gallery {
					padding-left:0;
					img {
						width:100%;
					}
				}
				.woocommerce-product-gallery {
					margin-bottom:0px;
					.new,.onsale {
						width:75px;
						height:25px;
						color:#ffffff;
						line-height:25px;
						text-align:center;
						position:absolute;
						top:20px;
						left:0;
						background:#252525;
						z-index:1;
					}
					.woocommerce-product-gallery__trigger {
						img {
							width:0px !important;
						}
						position:absolute;
						width:28px;
						height:28px;
						background:#ffffff;
						border-radius:100%;
						z-index:1;
						right:15px;
						top:15px;
                        font-size:0px;
						&:after {
					    position: absolute;
                        content: "\e657";
                        font-family: 'Pe-icon-7-stroke';
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        font-size: 36px;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        -webkit-transform: translate(-50%,-50%);
                        left: 50%;
                        content: "\f48a";
                        font-family: "Ionicons";
                        color: #9c9c9c;
						}
					}
				}
				.product-thumbnails {
					position:absolute;
					top:0;
					left:0;
					height:100%;
					.thumbnails {
						padding-top:0;
						position:relative;
						margin:0;
						height:100%;
						.slick-slide {
							img {
								width:100%;
								height:auto;
							}
						}
						.thumb1 {
							margin-bottom:20px;
						}
					}
				}
                &.left {
                   .product-thumbnails {
                        width: 86px;
					} 
                }
				&.right {
					.product-advanced {
					}
					.product-thumbnails {
						right:0;
						left:initial;
                        width: 86px;
					}
					padding-right:100px;
					padding-left:0;
					.woocommerce-product-gallery {
						img {
							width:100%;
						}
					}
				}
				&.outside {
					padding-left:0;
					.woocommerce-product-gallery {
						img {
							width:100%;
						}
					}
				}
				&.bottom {
					.product-thumbnails {
						position:initial;
						width:auto;
                        margin-top: 23px;
                        .slick-list {
                            margin:0 -11px;
                        }
                        .slick-slide {
                          margin: 0 11px;  
                        }
						.thumb1 {
							padding:10px 8px 10px 8px;
                            border: 1px solid #dedede;
                            
						}
					}
					padding-left:0;
					.woocommerce-product-gallery {
						img {
							width:100%;
						}
					}
				}
			}
		}
		.content-product-right {
			&.outside {
				.product-thumbnails {
					.thumb1 {
						width:115px !important;
					}
				}
			}
			.shop-top {
				.woocommerce-product-rating {
					margin-bottom:18px;
					.woocommerce-review-link {
						font-weight:400;
					}
				}
				.product_title {
					font-size:16px;
					margin-top:0;
                    font-weight: 600;
					margin-bottom:13px;
				}
				.price {
					margin-bottom:5px;
				}
			}
			.shop-bottom {
				.product-thumbnails {
					margin-top:45px;
					.thumb1 {
						border:1px solid transparent;
						&.slick-current {
							border:1px solid #4d4d4d;
						}
						margin-left:10px;
						&:first-child {
							margin-left:0;
						}
					}
				}
				.description {
					margin-bottom:27px;
				}
				.info-product {
					margin-top:31px;
					.product_meta {
						margin-top:46px;
						>span {
							display:block;
							margin-bottom:-2px;
							a {
								font-weight:400;
							}
						}
					}
					.social_share {
						margin-top:40px;
						>span {
							display:none;
						}
						ul {
							li {
								display:inline-block;
								margin-right:12px;
								a {
									&:first-child {
										margin-left:0;
									}
									&:last-child {
										margin-right:0;
									}
								}
							}
						}
					}
				}
				.strap-product {
					.price_text {
						display:none;
					}
					h3 {
						font-size:14px;
						margin-top:30px;
					}
					form {
						.yith-wfbt-items {
							list-style:none;
							padding:0;
							margin:0;
							li {
								&.is-checked {
									color:#252525;
								}
								position:relative;
								label {
									font-weight:400;
									input {
										-webkit-appearance:none;
										-moz-appearance:none;
										appearance:none;
										width:20px;
										position:relative;
										&:after {
											position:absolute;
											content:"\f067";
											left:0;
											top:50%;
											font:normal normal normal 14px/1 FontAwesome;
											transform:translateY(-75%);
											font-size:18px;
											font-weight:600;
											font-weight:100;
											font-weight:300;
										}
										&:checked {
											&:after {
												opacity:1;
												content:"\f00c";
											}
										}
									}
								}
							}
						}
						.yith-wfbt-submit-block {
							.yith-wfbt-submit-button {
								font-size:12px;
								color:#ffffff;
								height:40px;
								width:165px;
								border-radius:25px;
								text-align:center;
								line-height:40px;
								padding:0;
								font-weight:300;
								border:none;
								display:inline-block;
								margin-top:15px;
								margin-bottom:30px;
								transition:0.3s all;
							}
						}
					}
				}
				.my-size {
					margin-top:31px;
					margin-bottom:-31px;
				}
				.yith-btn {
					display:inline-block;
					width:24%;
					vertical-align:bottom;
					.yith-wcwl-add-to-wishlist {
						.ajax-loading {
							display:none !important;
						}
						margin:0;
						.feedback {
							display:none;
						}
						>div {
							a {
								font-size:0;
								position:relative;
								display:block;
								background:#ffffff;
								border-radius:100%;
								-webkit-border-radius:100%;
								width:40px;
								height:40px;
								margin:13px auto;
								line-height:40px;
								font-weight:400;
								padding:0;
								margin:0 10px;
								border:1px solid #dddddd;
								&:before {
									font-family:"Ionicons";
									position:absolute;
									font-size:18px;
									left:50%;
									transform:translateX(-50%);
									-webkit-transform:translateX(-50%);
								}
								&:hover {
									color:#ffffff;
								}
							}
							&.yith-wcwl-add-button {
								a:before {
									content:"\f387";
								}
							}
							&.yith-wcwl-wishlistaddedbrowse,&.yith-wcwl-wishlistexistsbrowse {
								a:before {
									content:"\f388";
								}
							}
						}
					}
				}
				.single_add_to_cart_button,.single_add_to_cart_buttons {
					font-size:14px;
					color:#ffffff;
					height:40px;
					width:150px;
					border-radius:25px;
					text-align:center;
					line-height:40px;
					padding:0;
					border:none;
					display:inline-block;
					border:1px solid;
					vertical-align:top;
					transition:0.5s all;
					-webkit-transition:0.5s all;
					&:hover {
						background-color:#171717;
					}
					&.disabled {
						cursor:no-drop;
					}
				}
				form {
					display:inline-block;
					vertical-align:middle;
					margin-bottom:0;
					.single_variation_wrap {
						margin-top:25px;
						.single_variation {
							.out-of-stock {
								border:2px solid #E0B252;
								background-color:transparent;
								color:#AF7D27;
								padding:5px;
								width:150px;
								text-align:center;
							}
							>p {
								border:2px solid #E0B252;
								background-color:transparent;
								color:#AF7D27;
								padding:15px;
								margin-bottom:20px;
							}
						}
						.amount {
							display:block;
							margin-bottom:8px;
							margin-top:0px;
							max-width:100%;
							display:inline-block;
							min-width:47px;
							overflow:hidden;
						}
					}
					.variations {
						tr {
							td {
								label {
									font-size:16px;
									text-align:left;
									font-weight:400 !important;
									margin-bottom:22px;
									margin-right:50px;
								}
								text-align:left;
								display:inline-block;
								padding:0;
								vertical-align:middle;
								&.value {
									margin-bottom:25px;
								}
								.reset_variations {
									font-size:12px;
									margin-left:10px;
									vertical-align:middle;
									display:inline-block;
									visibility:visible;
									&:before {
										content:"\f2d7";
										font-family:"Ionicons";
										margin-right:5px;
										display:inline-block;
									}
								}
								.tawcvs-swatches {
									padding:0;
									display:inline-block;
									vertical-align:middle;
									.swatch-color {
										width:20px;
										height:20px;
										line-height:20px;
										box-shadow:none;
										opacity:1;
										margin:0;
										margin-right:10px;
										&:before {
											top:3px;
											left:6px;
										}
									}
									.swatch-label {
										background:none;
										width:auto;
										box-shadow:none;
										border:1px solid #b8b8b8;
										opacity:1;
										border-radius:0;
										display:inline-block;
										min-width:40px;
										min-height:40px;
										line-height:40px;
										margin-right:7px;
										&.selected {
											border-bottom:2px solid transparent;
											box-shadow:none;
											color:#ffffff;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.product-type-external {
			.shop-bottom {
				.cart {
					display:inline-block;
					width:37%;
					vertical-align:middle;
					margin-bottom:0;
					a {
						margin-left:0px;
					}
				}
			}
		}
		.price { 
			.amount {
				font-size:24px;
			}
			del {
				.amount {
					border:none;
					;
					text-decoration:line-through;
					font-size:14px;
				}
			}
		}
		&.product-type-grouped {
			.content-product-right {
				.shop-bottom {
					form {
						width:100%;
						.single_add_to_cart_button,.single_add_to_cart_buttons {
							margin-top:40px;
							margin-left:0;
							margin-right:20px;
						}
						.group_table {
							border:1px solid #aaaaaa;
							width:100%;
							tr {
								border-bottom:1px solid #aaaaaa;
								&:last-child {
									border-bottom:none;
								}
								td {
									.jws-quantity-wrap {
										margin-top:0px;
										width:100%;
										.quantity {
											margin:0 15px 0 auto;
											height:30px;
											width:115px;
											border:1px solid #aaaaaa;
											.jws-font:after {
												line-height:30px;
												display:none;
											}
											.input-text {
												line-height:30px;
												height:30px;
											}
										}
									}
								}
								.label {
									font-size:14px;
									display:table-cell;
									vertical-align:inherit;
									text-align:left;
									padding-left:35px;
									label {
										margin-bottom:0;
										padding:15px 0;
									}
								}
							}
						}
					}
				}
			}
		}
		.sticky-move.is_stuck {
			padding-top:120px;
			transition:0.5s all;
		}
		&.layout-3 {
			.content-product-right {
				padding:0 15px;
			}
			.content-product-left {
				.product-images-content {
					padding-left:0;
					.woocommerce-product-gallery {
						figure {
							.woocommerce-product-gallery__image {
								width:50%;
								img {
									width:100%;
								}
								padding:5px;
							}
						}
					}
				}
			}
		}
		&.layout-2 {
			.content-product-right {
				padding:0 15px;
			}
			.content-product-left {
				.product-images-content {
					padding-left:0;
					.woocommerce-product-gallery {
						figure {
							.woocommerce-product-gallery__image {
								img {
									width:100%;
								}
								margin-bottom:30px;
								&:last-child {
									margin-bottom:0;
								}
							}
						}
					}
				}
			}
		}
		&.layout-4 {
			.content-product-right {
				padding:0 15px;
				.shop-bottom {
					form {
						width:74%;
						.single_add_to_cart_button {
							margin-left:0;
							margin-top:30px;
						}
					}
				}
			}
			.content-product-left {
				.product-images-content {
					padding-left:0;
					.woocommerce-product-gallery {
						figure {
							.woocommerce-product-gallery__image {
								img {
									width:100%;
								}
								margin-bottom:30px;
								&:last-child {
									margin-bottom:0;
								}
							}
						}
					}
				}
			}
		}
	}
	div.side-in {
		.content-product-right {
			padding:0 15px;
			.shop-bottom form {
				.single_add_to_cart_button,single_add_to_cart_buttons {
					margin-left:0px;
				}
			}
		}
	}
}
/*----------------- Shop Page------------------*/
.blas-filter-cat {
	.jws-categories-filter {
		ul {
			text-align:center;
			li {
				display:inline-block;
				margin:0 12px;
				a {
					color:#ffffff;
					font-weight:400;
					text-transform:uppercase;
					line-height:50px;
					&.selected {
						border-bottom:1px solid #ffffff;
					}
				}
			}
		}
	}
}
.catalog-sidebar,.shop-detail-sidebar {
	&.right {
		.widget_layered_nav .pa_color ul li .swatch-color {
			margin-left:0 !important;
		}
	}
	margin-top:22px;
	.widget-title {
	    height: 50px;
        line-height: 50px;
        padding-left: 20px;
        color: #ffffff;
        margin-bottom: 30px;
       width: ~"calc(100% - 5px)";
        position: relative;
        &:after {
       width: ~"calc(100% + 5px)";
        height: 100%;
        position: absolute;
        left: 0;
        top: 5px;
        content: "";
        opacity: 0.3;
        z-index: -1;  
        }
	}
	.widget {
		margin-bottom:65px;
		&:last-child,&.widget_price_filter {
			border-bottom:none;
		}
	}
    .widget_price_filter {
      .price_slider_wrapper {
        .price_slider_amount {
            text-align:center;
           .price_label {
                width: auto;
                display: inline-block;
                background: #ffffff;
                box-shadow: 0 3px 9px rgba(0,0,0,0.16);
                font-weight: 600;
                margin: 0 auto;
                margin-bottom: 37px;
                border-radius: 5px;
                padding: 10px 30px;
                font-size: 16px;
           } 
        }
      }  
    }
	.widget_jws_search_widget {
		.search-modal.search-fix {
			margin-bottom:0px;
			.modal-content {
			 .search-results .woocommerce {
			  padding: 30px 0;  
              display:none; 
			 }
				form {
					border:1px solid #bababa;
                    position: relative;
                    .loading {
                        &:after {
                             margin-top: -6px !important;   
                        }
                    }
					.search-fields {
						.search-field {
							width:~"calc(100% - 46px)";
							height:46px;
							border:none;
							background:transparent;
							padding-left:11px;
							font-size:12px;
							border-right:none;
						}
					}
					button {
						width:46px;
						height:46px;
						border:none;
						vertical-align:top;
						margin-left:-4px;
						border-radius:0;
						font-size:18px;
						color:initial;
						background:transparent;
						border:none;
						border-left:none;
						&:before {
							font-weight:bold;
						}
					}
				}
			}
		}
	}
	.widget_layered_nav_filters {
		ul {
			li a {
				position:relative;
				padding-left:15px;
				&:after {
					content:" X ";
					position:absolute;
					left:0;
					top:50%;
					transform:translateY(-50%);
					-webkit-transform:translateY(-50%);
				}
			}
		}
	}
	.widget_products {
		.product_list_widget {
			.amount {
				font-size:18px;
				.woocommerce-Price-currencySymbol {
					margin-right:5px;
				}
			}
			a {
				img {
					width:80px;
					float:left;
					margin-right:12px;
					margin-bottom:15px;
					height:auto;
                    border: 1px solid #dfdfdf;
                    padding: 5px;
                    transition: 0.5s all;
                    -webkit-transition: 0.5s all;
				}
				span {
					display:block;
					margin-bottom:-4px;
					line-height:22px;
					transform:translateY(-4px);
					-webkit-transform:translateY(-4px);
                    font-weight: 600;
                    transition: 0.5s all;
                    -webkit-transition: 0.5s all;
				}
			}
			li {
				margin-bottom:25px;
				clear:both;
				display:block;
				position:relative;
				min-height:82px;
				&:last-child {
					margin-bottom:0px;
				}
			}
		}
	}
	.widget_product_categories {
		.product-categories {
			li {
				margin-bottom:24px;
				position:relative;
				&:before {
                    margin-right: 12px;
                    content: "\f372";
                    font-family: Ionicons;
                    display: inline-block;
				}
				span {
					float:right;
				}
				a {
					transition:0.5s all;
					-webkit-transition:0.5s all;
					display:inline-block;
				}
				&:hover,&.current-cat {
                  	&:before {
                  	     content: "\f373";
                  	 }
				}
			}
		}
	}
	.widget_layered_nav {
		.pa_size {
			li {
				position:relative;
				font-size:12px;
				margin-bottom:-2px;
				&:last-child {
					margin-bottom:0;
				}
				a {
					padding-left:20px;
					display:inline-block;
				}
				span {
					float:right;
				}
				&:before {
					content:"\f105";
					position:absolute;
					font-family:FontAwesome;
				}
				&:hover,&.chosen {
					&:before {
						content:"\f178";
					}
				}
			}
		}
		.pa_color {
			ul {
				li {
					display:inline-block;
					margin-right:16px;
					&:last-child {
						margin-right:0;
					}
					&.chosen {
						a:before {
							opacity:1;
						}
					}
					a {
						position:relative;
						padding:0;
						cursor:pointer;
						border-radius:50%;
						width:30px;
						height:30px;
						text-align:center;
						display:inline-block;
						&:hover {
							border-color:#d1d1d1;
						}
						&:after {
							content:"";
							position:absolute;
							left:50%;
							bottom:80%;
							border-width:4px 4px 0 4px;
							border-style:solid;
							border-color:#000 transparent transparent transparent;
							margin-bottom:6px;
							margin-left:-4px;
							visibility:hidden;
							opacity:0;
							transition:all 250ms ease-out;
						}
						&:before {
							content:"\f3fd";
							font-family:"Ionicons";
							color:#fff;
							position:absolute;
							font-size:38px;
							z-index:3;
							line-height:16px;
							left:8px;
							top:10px;
							text-align:center;
							opacity:0;
						}
						.nav-title {
							position:absolute;
							bottom:80%;
							text-indent:0;
							background:#000;
							padding:5px 10px;
							line-height:1;
							border-radius:20px;
							margin-bottom:10px;
							min-width:50px;
							color:#fff;
							left:50%;
							white-space:pre;
							text-align:center;
							text-transform:none;
							transform:translate(-50%,0);
							-ms-transform:translate(-50%,0);
							-webkit-transform:translate(-50%,0);
							visibility:hidden;
							opacity:0;
							transition:all 250ms ease-out;
							font-size:12px;
						}
						&:hover {
							&:after,.nav-title {
								bottom:100%;
								opacity:1;
								visibility:visible;
							}
						}
					}
					.count-atr {
						display:none;
					}
					.swatch-color {
						width:30px;
						height:30px;
						border-radius:50%;
						-webkit-border-radius:50%;
						display:inline-block;
						vertical-align:top;
						margin-top:3px;
					}
				}
			}
		}
	}
}
#content {
	.action-filter-swaper {
		padding:0 15px;
        .shop-topbar-content {
                  margin-right: -30px;   
        }
		.widgets-area {
		      .widget {
                float:right;
                margin-right: 30px;
		      }
			.shop-filter-actived {
			    float:left;
                margin-top: 12px; 
				.found {
					font-size:18px;
					font-weight:500;
				}
				.remove-filter-actived {
					margin-left:15px;
					float:right;
					padding-left:15px;
					position:relative;
					&:after {
						content:" X ";
						position:absolute;
						left:0;
						top:50%;
						transform:translateY(-54%);
						-webkit-transform:translateY(-54%);
						font-size:12px;
						font-weight:bold;
					}
				}
			}
			.kitgreen-price-filter-list {
				ul {
					li {
						margin-bottom:5px;
						a {
							font-size:12px;
							position:relative;
							&:after {
								position:absolute;
								content:"";
								left:0;
								bottom:0px;
								background:#a9a9a9;
								height:1px;
								width:0;
							}
							&.actived {
								&:after {
									width:100%;
								}
							}
						}
					}
				}
			}
            .widget_jws_search_widget {
              .search-modal.search-fix {
                .modal-content {
                       form {
                            width:270px;
                            height: 50px;
                            border-color: #dfdfdf;
                            background: transparent;
                            .loading {
                            bottom: 16px !important; 
                            right: 50px;  
                            }
                            .search-fields {
                                .search-field{
                                    height:50px;
                                    font-size: 14px;
                                }
                                button {
                                    height:50px;
                                }
                            }
                      }  
                }
              } 
            }
			.product-sort-by {
			    width: 250px;
                height: 50px;
                border: #dfdfdf 1px solid;
                background: transparent;
                line-height: 50px;
                position: relative;
               	&:after {
							    content: "\e874";
								position:absolute;
								right:20px;
								bottom:0;
							    font-family: 'Linearicons-Free';
								font-weight:bold;
			 }
     		     .woocommerce-ordering {
					float:none;
					cursor:pointer;
				}
					
				> ul {
				    .label {
						display:none;
					}
                    .current {
                          span {
                           margin-left: 18px;  
                          } 
                    }
					ul {
						position:absolute;
						top:102%;
						z-index:99999;
						background:#ffffff;
						width:100%;
						box-shadow:0 0 20px rgba(0,0,0,0.05);
                        display: none;
						li {
							a {
								font-size:14px;
								position:relative;
								font-weight:400;
								display:block;
								border-bottom:1px solid #ebebeb;
								padding:0 10px;
								&.active {
									display:none;
								}
							}
						}
					}
				}
			}
			.kitgreen_attributes_filter {
				.pa_size {
					ul {
						li {
							margin-bottom:5px;
							a {
								&:before {
									display:none;
								}
								max-width:105px;
								min-width:53px;
								overflow:hidden;
								display:inline-flex;
								.nav-title {
									font-size:12px;
									span {
										position:relative;
										&:after {
											position:absolute;
											content:"";
											left:0;
											bottom:0px;
											background:#a9a9a9;
											height:1px;
											width:0;
										}
									}
								}
							}
							.count-atr {
								font-size:12px;
								letter-spacing:1px;
								width:56px;
								text-align:center;
								display:in;
							}
							&.chosen {
								.nav-title {
									color:#252525;
									span:after {
										width:100%;
									}
								}
							}
						}
					}
				}
				.pa_brand {
					ul {
						li {
							display:inline-block;
							margin-right:21px;
							margin-bottom:5px;
							a {
								&:before {
									display:none;
								}
								.nav-title {
									font-size:12px;
									overflow:hidden;
									span {
										position:relative;
										&:after {
											position:absolute;
											content:"";
											left:0;
											bottom:0px;
											background:#a9a9a9;
											height:1px;
											width:0;
										}
									}
								}
							}
							.count-atr {
								display:none;
							}
							&.chosen {
								.nav-title {
									color:#252525;
									span:after {
										width:100%;
									}
								}
							}
						}
					}
				}
				.pa_color {
					max-width:250px;
					ul {
						li {
							margin-bottom:10px;
							&.show-color {
								a {
									&:before {
										display:none;
									}
									.swatch-color {
										width:15px;
										height:15px;
										border-radius:50%;
										-webkit-border-radius:50%;
										display:inline-block;
									}
									span {
										vertical-align:middle;
									}
									.nav-title {
										font-size:12px;
										margin-left:13px;
										max-width:105px;
										display:inline-block;
										min-width:70px;
										overflow:hidden;
										span {
											position:relative;
											&:after {
												position:absolute;
												content:"";
												left:0;
												bottom:0px;
												background:#a9a9a9;
												height:1px;
												width:0;
											}
										}
									}
								}
								.count-atr {
									font-size:12px;
									color:#959595;
									letter-spacing:1px;
									width:56px;
									text-align:center;
									display:inline-block;
									float:right;
									padding-right:27px;
								}
							}
							&.chosen {
								.nav-title {
									span:after {
										width:100% !important;
									}
								}
								.count-atr {
									color:#252525;
								}
							}
						}
					}
				}
			}
		}
		.shop-toolbar {
			padding:49px 0;
			display:none;
			.toolbar-right {
				span {
					font-size:36px;
					font-weight:400;
					margin-right:15px;
					vertical-align:bottom;
					transform:translateY(-2px);
					display:inline-block;
				}
			}
		}
		.layout-shop {
			.wc-col-filter {
				span {
					font-size:14px;
				}
				a {
					margin-left:9px;
					cursor:pointer;
					&.active {
						border-bottom: 1px solid;
					}
				}
			}
		}
	}
}

/*-------------- Shop Page --------------*/
.product-container {
	margin-bottom:25px;
	margin-top:100px;
}
.woocommerce-pagination {
	margin-top: 45px;
}
/*------------Page Number--------------*/
.woocommerce .woocommerce-pagination ul.page-numbers li,.woocommerce-page .woocommerce-pagination {
	.loaded-product {
		display:none;
		border:1px solid #959595;
		box-shadow:none;
		outline:none;
		background:transparent;
		width:211px;
		margin:0 auto;
		height:50px;
		line-height:50px;
		text-align:center;
	}
	&.loaded {
		.loaded-product {
			display:block;
		}
		ul.page-numbers {
			display:none;
		}
	}
	ul.page-numbers {
		text-align:center;
		li {
			display:none;
			&:last-child {
				display:block;
				clear:both;
			}
			a {
				span {
					&:after {
			        position: relative;
                    top: 0px;
                    right: -3px;
                    content: "\e878";
                    font-family: 'Linearicons-Free';
                    display: inline-block;
					}
					&.show {
					&:after {
                            content: "\e862";
                            -webkit-animation-name: rotate;
                            -webkit-animation-duration: 2s;
                            -webkit-animation-iteration-count: infinite;
                            -webkit-animation-timing-function: linear;
                            -moz-animation-name: rotate;
                            -moz-animation-duration: 2s;
                            -moz-animation-iteration-count: infinite;
                            -moz-animation-timing-function: linear;
                            animation-name: rotate;
                            animation-duration: 2s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            display: inline-block;
					}
					}
				}
			    width: 190px;
                height: 50px;
                border-radius: 40px;
                line-height: 50px;
                text-align: center;
                font-weight: 500;
                display: block;
                margin: 0 auto;
                margin-top: 0px;
                transition: 0.5s all;
                color: #ffffff !important;
                -webkit-transition: 0.5s all;
                position:relative;
			}
		}
	}
}
.product-thumb {
	img {
		width: 100%;
	}
}
/* 9.10 STAR RATING ========================================================================== */
.comment-form-rating {
	label {
		display:inline-block;
		vertical-align:middle;
		font-weight:400;
	}
}
.star-rating {
    font-family: "Ionicons";
	height:20px;
	line-height:20px;
	overflow:hidden;
	position:relative;
	text-align:left;
	width:5.8em;
	letter-spacing:5px;
	display:inline-block;
	vertical-align:middle;
    font-size: 14px;
    margin-right: 5px;
        color: #9c9c9c;
}
.star-rating:before,.star-rating span:before {
	content:'\f4b3\f4b3\f4b3\f4b3\f4b3';
	left:0;
	top:0;
	position:absolute;
}
.star-rating span {
	overflow:hidden;
	position:absolute;
	text-indent:-999em;
	color:#ffd200;
}
.star-rating span:before {
	text-indent:0;
}
.stars {
	font-size:11px;
	letter-spacing:3px;
	margin-left:15px;
	margin-top:2px;
	display:inline-block;
	vertical-align:top;
}
.stars [class*="star"] {
	text-indent:-999em;
	display:block;
	position:absolute;
	display:inline-block;
}
.stars [class*="star"]:before {
	position:absolute;
	font-family:"FontAwesome";
	left:0;
	text-indent:0;
}
.stars .star-1 {
	width:15px;
	z-index:50;
}
.stars .star-2 {
	width:30px;
	z-index:40;
}
.stars .star-3 {
	width:45px;
	z-index:30;
}
.stars .star-4 {
	width:60px;
	z-index:20;
}
.stars .star-5 {
	width:75px;
	z-index:10;
}
.stars .star-5:before {
	content:"\f006\f006\f006\f006\f006";
}
.stars .star-1:hover:before,.stars .star-1.active:before {
	content:"\f005";
}
.stars .star-2:hover:before,.stars .star-2.active:before {
	content:"\f005\f005";
}
.stars .star-3:hover:before,.stars .star-3.active:before {
	content:"\f005\f005\f005";
}
.stars .star-4:hover:before,.stars .star-4.active:before {
	content:"\f005\f005\f005\f005";
}
.stars .star-5:hover:before,.stars .star-5.active:before {
	content:"\f005\f005\f005\f005\f005";
}
.price_slider {
	margin-bottom:23px;
}
.ui-slider {
	position:relative;
	text-align:left;
}
.ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	width:22px;
	height:22px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	cursor:pointer;
	outline:none;
	top:-6px;
	border:none;
	border:1px solid #ffffff;
    
}
.ui-slider .ui-slider-handle:last-child {
	transform:translatex(-16px);
	-webkit-transform:translatex(-16px);
}
.ui-slider .ui-slider-range {
	position:absolute;
	z-index:1;
	display:block;
	border:0;
}
.price_slider_wrapper .ui-widget-content {
	background:#d7d7d7;
	border:none;
	border-radius:5px;
}
.ui-slider-horizontal {
	height:10px;
}
.ui-slider-horizontal .ui-slider-range {
	top:0;
	height:100%;
	border-radius:5px;
}
.ui-slider-horizontal .ui-slider-range-min {
	left:-1px;
}
.ui-slider-horizontal .ui-slider-range-max {
	right:-1px;
}
.price_slider_amount {
	.button {
		display:none;
	}
}
.tb-products-grid {
	margin-bottom:0;
	margin-top:30px;
}
@media(min-width:992px) {
	.tax-product_cat,.post-type-archive-product {
		.no_container {
			padding:0 45px;
		}
	}
}
@media(max-width:991px) {
	.tax-product_cat,.post-type-archive-product {
		.no_container {
			padding: 0 15px;
		}
	}
}
/** ------------------------------------------------------------------------------------------------* WOOCOMMERCE TABLE * ------------------------------------------------------------------------------------------------ */
.processing {
	&:before {
		content:"";
		background:rgba(255,255,255,0.6);
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		-webkit-transition:all .3s ease-in-out;
		-moz-transition:all .3s ease-in-out;
		-o-transition:all .3s ease-in-out;
		transition:all .3s ease-in-out;
		z-index:1;
	}
	&:after {
		z-index:2;
		bottom:auto;
		top:50%;
		margin-top:-18px;
		position:absolute;
		left:50%;
		bottom:-50px;
		margin-left:-17px;
		opacity:1;
		visibility:visible;
		-webkit-transition:all .3s ease-in-out;
		-moz-transition:all .3s ease-in-out;
		-o-transition:all .3s ease-in-out;
		transition:all .3s ease-in-out;
		content:" ";
		width:35px;
		height:35px;
		display:inline-block;
		vertical-align:middle;
		border:2px solid #252525;
		border-radius:50%;
		border-right-color:transparent !important;
		-webkit-animation:load-spin 450ms infinite linear;
		animation:load-spin 450ms infinite linear;
	}
}
.woocommerce-cart {
	.woocommerce .cart-empty {
		text-align:center;
		position:relative;
		font-size:36px;
		text-transform:uppercase;
		letter-spacing:1px;
		line-height:1.5;
		padding:250px 0 0px 0;
		font-weight:bold !important;
		margin-bottom:30px;
	}
	.woocommerce .cart-empty:after,.woocommerce .cart-empty:before {
		position:absolute;
		color:rgba(142,142,142,0.2);
		left:50%;
		font-weight:normal;
		transform:translateX(-50%);
		-o-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-webkit-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-sand-transform:translateX(-50%);
	}
	.woocommerce .cart-empty:before {
		content:"\e66e";
		font-size:180px;
		margin-left:-18px;
		top:0px;
		font-family:'Pe-icon-7-stroke';
	}
	.woocommerce .cart-empty:after {
		content:"\f00d";
		font-size:60px;
		top:91px;
		font-family:"FontAwesome";
	}
	.woocommerce .kitgreen-empty-cart-text {
		text-align:center;
		margin-top:-25px;
		margin-bottom:25px;
		line-height:1.7;
		color:#8E8E8E;
	}
	.woocommerce .return-to-shop {
		text-align:center;
		margin-bottom:50px;
	}
	.woocommerce .button.wc-backward {
		width:200px;
		display:block;
		height:50px;
		color:#ffffff;
		line-height:50px;
		text-align:center;
		font-weight:400;
		margin-top:32px;
		padding:0;
		border:none;
		margin:0 auto;
		margin-top:30px;
		&:hover {
			opacity:0.8;
		}
	}
	.woocommerce .cart-emtry-text {
		text-align:center;
	}
}
.cart-collaterals {
	.continue {
		font-size:18px;
		font-weight:500;
		letter-spacing:0.7px;
		i {
			margin-left:10px;
		}
	}
	.cart_totals {
		h2 {
			font-size:18px;
			font-weight:500;
			letter-spacing:0.7px;
			text-transform:uppercase;
			margin:0;
		}
		.wc-proceed-to-checkout {
			a {
				width:100%;
				display:block;
				height:50px;
				color:#ffffff;
				line-height:50px;
				text-align:center;
				font-weight:400;
				margin-top:32px;
				&:hover {
					opacity:0.9;
				}
			}
		}
		.respon-table {
			padding:9px 30px 9px 30px;
			background:#f6f6f6;
			margin-top:27px;
		}
		table {
			tr {
				border-bottom:1px solid #d1d1d1;
				&.order-total {
					th {
						font-size:18px;
					}
				}
				.woocs_special_price_code {
					font-weight:400;
				}
				&:last-child {
					border-bottom:none;
				}
				th {
					padding:15px 0px;
					font-weight:500;
				}
				td {
					padding:15px 0px
				}
			}
		}
	}
}
.cart-actions {
	margin-top:30px;
	margin-bottom:97px;
	.updatecart {
		background:#f6f6f6;
		padding:22px 40px;
		width:205px;
		margin:0 0 0 auto;
		.button {
			background:none;
			border:none;
			border-bottom:2px solid;
			font-weight:500;
			font-size:18px;
			letter-spacing:1px;
			padding-bottom:4px;
		}
	}
	.coupon {
		background:#f6f6f6;
		padding:16px 50px;
		label {
			display: none;
		}
		.input-text {
			border:1px solid #d0d0d0;
			height:46px;
			width:250px;
			padding-left:15px;
			margin-right:30px;
			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color:#959595;
			}
			&::-moz-placeholder {
				/* Firefox 19+*/
				color:#959595;
			}
			&:-ms-input-placeholder {
				/* IE 10+*/
				color:#959595;
			}
			&:-moz-placeholder {
				/* Firefox 18- */
				color:#959595;
			}
		}
		.button {
			background:none;
			border:none;
			border-bottom:2px solid;
			font-weight:500;
			font-size:18px;
			letter-spacing:1px;
			padding-bottom:4px;
		}
	}
}
.shop_table {
	thead {
		background:#f6f6f6;
		th {
			font-size:18px;
			font-weight:600;
			padding:30px 0px;
			text-align:center;
		}
	}
}
.shop_table tr.order-total .includes_tax {
	display:block;
	margin-top:5px;
}
.shop_table {
	width:100%;
}
.woocommerce-cart-form .shop_table tr td {
	padding:18px 12px;
	border:none;
	text-align:center;
	border-bottom:1px solid #d1d1d1;
}
.shop_table th.product-name {
	text-align:left;
}
.shop_table th.product-thumbnail {
	width:10px;
}
.shop_table th.product-remove {
	width:40px;
}
.shop_table td.order-status {
	text-align:center !important;
}
.shop_table td.product-remove {
	padding:0;
	text-align:center;
}
.shop_table td.product-remove a {
	position:relative;
	font-size:0px;
	display:inline-block;
	border-radius:50%;
	height:20px;
	width:20px;
	line-height:28px;
	cursor:pointer;
	padding-right:16px;
	padding-right:0;
}
.shop_table td.product-remove a:after,.shop_table td.product-remove a:before {
	content:" ";
	position:absolute;
	right:0px;
	top:50%;
	margin-top:-1px;
	width:20px;
	height:2px;
	display:inline-block;
	background-color:#252525;
	-webkit-transition:background-color 0.2s ease-in-out,transform 0.2s ease-in-out,width 0.2s ease-in-out;
	-moz-transition:background-color 0.2s ease-in-out,transform 0.2s ease-in-out,width 0.2s ease-in-out;
	-o-transition:background-color 0.2s ease-in-out,transform 0.2s ease-in-out,width 0.2s ease-in-out;
	transition:background-color 0.2s ease-in-out,transform 0.2s ease-in-out,width 0.2s ease-in-out;
}
.shop_table td.product-remove a:after {
	transform:rotate(-44deg);
	-webkit-transform:rotate(-44deg);
	-moz-transform:rotate(-44deg);
	-o-transform:rotate(-44deg);
	-ms-transform:rotate(-44deg);
	-sand-transform:rotate(-44deg);
}
.shop_table td.product-remove a:before {
	-webkit-transform:rotate(44deg);
	-moz-transform:rotate(44deg);
	-o-transform:rotate(44deg);
	-ms-transform:rotate(44deg);
	-sand-transform:rotate(44deg);
	transform:rotate(44deg);
}
.shop_table td.product-remove a:hover:after {
	transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-sand-transform:rotate(0deg);
}
.shop_table td.product-remove a:hover:before {
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-sand-transform:rotate(0deg);
	transform:rotate(0deg);
}
.shop_table td.product-remove a:after,.shop_table td.product-remove a:before {
	right:5px;
}
.shop_table td.product-name {
	text-align:left;
}
.shop_table td.product-name a {
	text-transform:none;
	letter-spacing:.3px;
	display:block;
}
.shop_table td.product-name .variation {
	display:inline-block;
	margin-top:10px;
}
.shop_table td.product-price span {
	font-size:14px;
}
.shop_table td.product-subtotal span {
	font-size:14px;
}
.shop_table td.product-thumbnail img {
	max-width:120px;
	height: auto;
}

.woocommerce-cart .woocommerce-cart-form__cart-item,.shop-bottom {
	.woocommerce-variation-add-to-cart {
		margin-top:6px;
	}
	.jws-quantity-wrap {
		label {
			display:none;
		}
	}
	.quantity {
		position:relative;
		height:40px;
		width:150px;
		background:#f6f6f6;
		border-radius:25px;
		text-align:center;
		font-size:14px;
        display: inline-block;
        margin-bottom: 30px;
		.input-text {
			border:none;
			text-align:center;
			line-height:40px;
			background:none;
			height:40px;
			outline:none;
			width: 100%;
		}
		/* for chrome */
		input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance:none;
			margin: 0;
		}
		/* for mozilla */
		input[type=number] {
			-moz-appearance:textfield;
		}
		.jws-font {
			&:after {
			    position: absolute;
                height: 40px;
                top: 0;
                line-height: 40px;
                cursor: pointer;
                width: 46px;
                font-size: 20px;
                font-weight: bold;
			}
			&.jws-qty-minus {
				&:after {
					left:3px;
					content:"\f462";
					font-family:"Ionicons";
				}
			}
			&.jws-qty-plus {
				&:after {
					right:3px;
					content:"\f489";
					font-family:"Ionicons";
				}
			}
		}
	}
}
#yith-wcwl-form {
	.wishlist-title {
		margin-bottom:30px;
	}
	.wishlist_table {
		tr {
			&:last-child td {
				border:none;
			}
			th {
				border:none;
			}
			td {
				border-bottom:1px solid;
				.wishlist-in-stock,.wishlist-out-of-stock {
					display:inline-block;
					padding:5px 10px;
					border:2px solid #297E29;
					text-transform:uppercase;
					font-size:12px;
					letter-spacing:.3px;
					font-weight:700;
				}
				a.button {
				    font-size: 14px;
                    color: #ffffff;
                    height: 40px;
                    border-radius: 25px;
                    text-align: center;
                    line-height: 40px;
                    padding: 0;
                    border: none;
                    display: inline-block;
                    border: 1px solid;
                    vertical-align: top;
                    transition: 0.5s all;
                    -webkit-transition: 0.5s all;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
}

.no_galley {
	padding:0 !important;
}
#search-modal.layout1 {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:none;
	overflow:auto;
	backface-visibility:hidden;
	visibility:hidden;
	outline:0;
	z-index:99999;
	&.show {
		visibility:visible;
		display:block;
		backface-visibility:visible;
	}
	.modal-footer {
		z-index:2;
		position:relative;
		border:none;
	}
	.modal-content {
		z-index:2;
		background:transparent;
		outline:none;
		box-shadow:none;
		transition:none;
		transform:translate(-50%,-40%);
		position:absolute;
		top:35%;
		max-width:1170px;
		padding-top:0;
		border:none;
		left:50%;
		.search-results {
			max-height:500px;
			overflow:auto;
			margin-top:80px;
			transform:translatey(50px);
			-webkit-transform:translatey(50px);
			transition:all .3s ease .3s;
			transition-delay:0.3s;
			opacity:0;
			&::-webkit-scrollbar-track {
					-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
					background-color:#F5F5F5;
			}
			&::-webkit-scrollbar {
					width:6px;
					background-color:#F5F5F5;
			}
			&::-webkit-scrollbar-thumb {
					background-color:#000000;
			}
			.woocommerce {
				ul {
					text-align:center;
					li {
						display:inline-block;
						max-width:240px;
						text-align:center;
						vertical-align:top;
						animation:fadeIn 0.5s both;
						margin:0 15px;
						margin-bottom:40px;
						font-size:18px;
						color:#ffffff;
						a {
							.title {
								font-size:14px;
								color:#ffffff;
								display:block;
								margin-top:19px;
							}
							.price {
								display:block;
								font-size:14px;
								clear:both;
								color:#959595;
							}
						}
					}
				}
			}
		}
		form {
			.loading {
				position:absolute;
				bottom:24px;
				right:70px;
				&:after {
					border:2px solid #ffffff;
				}
			}
			position:relative;
			.search-fields {
				transform:translatey(50px);
				-webkit-transform:translatey(50px);
				transition:all .3s ease .3s;
				opacity:0;
				transition-delay:0.2s;
			}
			.product-cats {
				text-align:center;
				transform:translatey(50px);
				-webkit-transform:translatey(50px);
				transition:all .3s ease .3s;
				transition-delay:0.1s;
				opacity:0;
				label {
					input {
						display:none;
					}
					span {
						color:#ffffff;
						font-size:18px;
						font-weight:300;
						margin:0 15px;
					}
					input:checked+span {
						border-bottom:1px solid #ffffff;
					}
				}
			}
			.search-submit {
				position:absolute;
				bottom:3px;
				right:0;
				input {
					background:none;
					border:none;
					font-size:0px;
					width:40px;
					height:40px;
					z-index:2;
					position:relative;
				}
				&:after {
					content:"\f4a5";
					position:absolute;
					top:7px;
					right:0;
					font-family:"Ionicons";
					color:#ffffff;
					font-size: 30px;
				}
			}
			.search-field {
				font-size:24px;
				color:#ffffff;
				width:100%;
				background:none;
				border:none;
				border-bottom:1px solid #464646;
				padding:11px 0;
				letter-spacing:3px;
				&::-webkit-input-placeholder {
					/* Chrome/Opera/Safari */
					color:#ffffff;
					font-weight:100;
				}
				&::-moz-placeholder {
					/* Firefox 19+*/
					color:#ffffff;
					font-weight:100;
				}
				&:-ms-input-placeholder {
					/* IE 10+*/
					color:#ffffff;
					font-weight:100;
				}
				&:-moz-placeholder {
					/* Firefox 18- */
					color:#ffffff;
					font-weight:100;
				}
			}
		}
	}
	.moal-overlay {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.89);
		z-index:1;
		transition:all .2s ease .2s;
	}
	&.show {
		.modal-content .search-results {
			transform:translatey(0px);
			-webkit-transform:translatey(0px);
			opacity:1;
		}
		form {
			.search-fields,.product-cats {
				transform:translatey(0px);
				-webkit-transform:translatey(0px);
				opacity: 1;
			}
		}
	}
}
#search-modal {
  .loading {
				position:absolute;
				bottom:35px;
				right:70px;
				&:after {
					opacity:0;
					visibility:hidden;
					top:50%;
					margin-top:-18px;
					position:absolute;
					left:50%;
					bottom:-50px;
					margin-left:-17px;
					-webkit-transition:all .3s ease-in-out;
					-moz-transition:all .3s ease-in-out;
					-o-transition:all .3s ease-in-out;
					transition:all .3s ease-in-out;
					content:" ";
					width:35px;
					height:35px;
					display:inline-block;
					vertical-align:middle;
					border:2px solid #1b1b1b;
					border-radius:50%;
					border-right-color:transparent !important;
					z-index:999;
			}
    } 
    &.searching {
		.modal-content form .loading:after {
			opacity:1;
			visibility:visible;
			-webkit-animation:load-spin 450ms infinite linear;
			animation:load-spin 450ms infinite linear;
		}
	} 
}





/*---------------------- Pagination------------------------*/
.woocommerce-pagination-number {
	text-align:center;
	margin-top:96px;
	.page-numbers li {
		display:inline-block;
		>a,>span {
			width:23px;
			height:23px;
			line-height:23px;
			border-radius:100%;
			position:relative;
			display:block;
			text-align:center;
			margin:0 14px;
			transition:0.4s all;
			-webkit-transition:0.4s all;
			&.current,&:hover {
				color:#ffffff;
			}
			&:after {
				position:absolute;
				content:"";
				border:1px solid #a9a9a9;
				width:~"calc(100% + 6px)";
				height:~"calc(100% + 6px)";
				border-radius:100%;
				top:-3px;
				left:-3px;
				z-index:-1;
			}
		}
	}
}
/*-------------------- Slick Row-----------------------*/ .slick-arrow {
	position:absolute;
	font-size:50px;
	border-radius:50%;
	text-align:center;
	top:50%;
	z-index:1;
	cursor:pointer;
	opacity:0;
	visibility:hidden;
	transition:0.3s all;
	-webkit-transition:0.3s all;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	&.slick-disabled {
		color:#999999;
	}
	&.ion-ios-arrow-left {
		left:10px;
	}
	&.ion-ios-arrow-right {
		right:10px;
	}
}
.slick-slider:hover {
	.slick-arrow {
		opacity:1;
		visibility: visible;
	}
}
/*------------ CArt -------------*/
.jws-mini-cart {
	right:-320px;
}
.widget-panel-open .jws-mini-cart {
	transform: translatex(0px);
    -webkit-transform: translatex(0px);
	height:auto;
}
.jws-push-menu {
	max-width:380px;
	height:auto;
	padding-bottom:0;
	position:fixed;
	right:-100%;
	z-index:2001;
	width:100%;
	overflow-y:auto;
	background:#fff;
	transition:0.7s all;
	-webkit-transition:0.7s all;
	top:0;
	padding-top:30px;
    right: 0;
    transform: translatex(380px);
    -webkit-transform: translatex(380px);
	.title {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-webkit-align-items:center;
		-ms-flex-align:center;
		align-items:center;
		-webkit-box-pack:justify;
		-webkit-justify-content:space-between;
		-ms-flex-pack:justify;
		justify-content:space-between;
		border-bottom:1px solid #929292;
		margin:0;
		font-weight:600;
		font-size:18px;
		text-align:left;
		max-width:160px;
		letter-spacing:2px;
		margin-left:15px;
		margin-bottom:28px;
		i {
			font-size:45px;
			position:absolute;
			top:19px;
			right:15px;
			cursor:pointer;
		}
	}
	.widget_shopping_cart_content {
		.shipping {
			font-size:12px;
			font-weight:600;
			padding:0px 30px;
			margin-bottom:25px;
			letter-spacing:1px;
			display:inline-block;
			i {
				margin-right:10px;
			}
		}
		.shipping-emtry {
			font-size:12px;
			color:#A40000;
			font-weight:600;
			padding:0px 30px;
			margin-bottom:25px;
			letter-spacing:1px;
			display:none;
			i {
				margin-right:10px;
			}
		}
		.edit-cart {
			background:none;
			font-size:12px;
			font-weight:600;
			margin-bottom:25px;
			letter-spacing:1px;
			border-bottom:1px solid;
            margin: 10px 15px;
		}
		.jws-cart-panel-list-wrap {
			margin-bottom:25px;
		}
		.jws-cart-panel-summary {
			.woocommerce-mini-cart__total.total {
				display:-webkit-box;
				display:-webkit-flex;
				display:-ms-flexbox;
				display:flex;
				-webkit-box-align:center;
				-webkit-align-items:center;
				-ms-flex-align:center;
				align-items:center;
				-webkit-box-pack:justify;
				-webkit-justify-content:space-between;
				-ms-flex-pack:justify;
				justify-content:space-between;
				background:#f6f4f4;
				padding:13px 15px;
				margin:0;
				font-size:14px;
				text-transform:uppercase;
				font-weight:500;
				strong {
					font-weight:500;
				}
			}
			.out_product {
				a {
					background:#171717;
				}
			}
			.woocommerce-mini-cart__buttons.buttons {
				margin-bottom:0px;
				a {
					position:relative;
					display:block;
					padding:13px 30px;
					color:#fff;
					font-size:14px;
					letter-spacing:0.7px;
					text-transform:uppercase;
					text-align:center;
					margin-bottom:0px;
					font-weight:500;
					transition:0.5s all;
					-webkit-transition:0.5s all;
				}
				&:hover a {
					background:#000000;
					opacity:0.8;
				}
			}
		}
		.jws-cart-panel-quantity-pricing {
			.jws-quantity-wrap {
				label {
					display:none;
				}
			}
		}
		.cart_list {
			max-height:350px;
			overflow:auto;
            position: relative;
            &.show {
                &:after {
                    background:rgba(255,255,255,0.8);
                    position: absolute;
                    content:"";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                &:before {
                top: 50%;
                z-index: 2;
                position: absolute;
                opacity: 1;
                left: 50%;
                visibility: visible;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                content: " ";
                width: 30px;
                height: 30px;
                display: inline-block;
                vertical-align: middle;
                border: 2px solid #000000;
                border-radius: 50%;
                border-right-color: transparent !important;
                -webkit-animation: load-spin 450ms infinite linear;
                animation: load-spin 450ms infinite linear; 
                }
            }
			&::-webkit-scrollbar {
					width:6px;
					background-color:transparent;
                    transition: 0.5s all;
			}
			&::-webkit-scrollbar-thumb {
					background-color:transparent;
                    transition: 0.5s all;
			}
            &:hover {
              &::-webkit-scrollbar-thumb {
					background-color:#999999;
			 }  
            }
			.mini_cart_item {
				border:1px solid #dcdcdc;
				display:-webkit-box;
				display:-webkit-flex;
				display:-ms-flexbox;
				display:flex;
				-webkit-flex-wrap:wrap;
				-ms-flex-wrap:wrap;
				flex-wrap:wrap;
				-webkit-box-align:center;
				-webkit-align-items:center;
				-ms-flex-align:center;
				align-items:center;
				-webkit-box-pack:justify;
				-webkit-justify-content:space-between;
				-ms-flex-pack:justify;
				justify-content:space-between;
				margin:10px 15px;
                padding: 12px;
                &.loading {
                    .jws-cart-panel-item-thumbnail {
                        &:after {
                           display:block;
                        }
                        .lnr-cross {
                           display:none;
                        }
                    }
                }
				.jws-cart-panel-item-thumbnail {
					width:65px;
					max-width:65px;
					-webkit-flex-basis:65px;
					-ms-flex-preferred-size:65px;
					flex-basis:65px;
					position:relative;
                    &:after {
                    top: 42%;
                    z-index: 2;
                    position: absolute;
                    opacity: 1;
                    left: 42%;
                    visibility: visible;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    content: " ";
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    vertical-align: middle;
                    border: 2px solid #ffffff;
                    border-radius: 50%;
                    border-right-color: transparent !important;
                    -webkit-animation: load-spin 450ms infinite linear;
                    animation: load-spin 450ms infinite linear; 
                    display:none;  
                    }
					.remove {
						position:absolute;
						top:50%;
						left:50%;
						transform:translate(-50%,-50%);
						width:100%;
						height:100%;
						background:rgba(0,0,0,0.7);
						color:#ffffff;
						line-height:83px;
						text-align:center;
						font-size:20px;
						opacity:0;
						transition:0.3s all;
						-webkit-transition:0.3s all;
						backface-visibility:hidden;
					}
				}
				.jws-cart-panel-item-details {
					max-width:200px;
					width:auto;
					-webkit-box-flex:1;
					-webkit-flex:1;
					-ms-flex:1;
					flex:1;
					padding-left:25px;
					.jws-cart-panel-product-title {
						font-size:14px;
						line-height:15px;
						display:block;
						margin-bottom:10px;
						width:90%;
                        font-weight: 600;
					}
					.jws-cart-panel-item-price {
						margin-top:-8px;
					}
					.woocommerce-Price-amount.amount {
						font-size:12px;
					}
				}
				.quanty-ajax {
					width:90px;
					max-width:90px;
					-webkit-flex-basis:90px;
					-ms-flex-preferred-size:90px;
					flex-basis:90px;
					border:solid 1px #e8e8e8;
					position:relative;
					text-align:center;
					.quantity {
						.input-text {
							width:50px;
							height:30px;
							border-radius:1px;
							border:none;
							font-size:14px;
							letter-spacing:1px;
			                text-align: center;
                            border: solid 1px #e8e8e8;
                            border-top: 0;
                            border-bottom: none;
						}
						input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
							-webkit-appearance:none;
							margin:0;
						}
						input[type=number] {
							-moz-appearance:textfield;
						}
						.jws-font {
							font-size:10px;
							line-height:24px;
							width:25px;
							vertical-align:top;
							-webkit-transition:color 0.2s ease;
							transition:color 0.2s ease;
							font-size:20px;
							position:absolute;
							right:0px;
							cursor:pointer;
							&:hover {
								color:#000000;
							}
							&:before {
								position:absolute;
							}
							&.jws-qty-minus {
								top:9%;
								left:-8px;
								&:before {
									content:"-";
								}
							}
							&.jws-qty-plus {
								top:12%;
								&:before {
									content:"+";
								}
							}
						}
					}
				}
				&:hover {
					.jws-cart-panel-thumbnail-wrap .remove {
						opacity:1;
					}
				}
			}
		}
	}
}
#jws-widget-panel-overlay {
	content:'';
	position:fixed;
	background:#000000;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:999;
	opacity:0;
	visibility:hidden;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
	&.show {
		opacity:0.7;
		visibility:visible;
	}
}
.jws-cart-panel-empty .edit-cart,.jws-cart-panel-empty .total-cart,.jws-cart-panel-empty .in_product,.jws-cart-panel-empty .woocommerce-mini-cart.total {
	display:none;
}
.empty {
	display:none;
	padding:30px;
}
.jws-cart-panel-empty .empty {
	display:block;
}
.element-loading {
	.overlay-loader {
		display:block;
	}
}
.kitgreen-products-tabs {
	.overlay-loader {
		background-color:transparent;
		div {
			position:absolute;
		}
	}
}
.kitgreen-products-tabs .kitgreen-tab-content .kitgreen-products-loader,.hidden-loader {
	.overlay-loader div {
		display:none;
	}
}
.overlay-loader {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:#fff;
	display:none;
	-webkit-transition:0.5s ease opacity;
	-moz-transition:0.5s ease opacity;
	transition:0.5s ease opacity;
	z-index:10;
}
.overlay-loader>div {
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-10px;
}
.overlay-loader span {
	display:block;
	bottom:0px;
	width:2px;
	height:5px;
	background:#000;
	position:absolute;
	-webkit-animation:preloader 1s infinite ease-in-out;
	-moz-animation:preloader 1s infinite ease-in-out;
	-ms-animation:preloader 1s infinite ease-in-out;
	-o-animation:preloader 1s infinite ease-in-out;
	animation:preloader 1s infinite ease-in-out;
}
.overlay-loader span:nth-child(2) {
	left:4px;
	-webkit-animation-delay:.2s;
	-moz-animation-delay:.2s;
	-ms-animation-delay:.2s;
	-o-animation-delay:.2s;
	animation-delay:.2s;
}
.overlay-loader span:nth-child(3) {
	left:8px;
	-webkit-animation-delay:.4s;
	-moz-animation-delay:.4s;
	-ms-animation-delay:.4s;
	-o-animation-delay:.4s;
	animation-delay:.4s;
}
.overlay-loader span:nth-child(4) {
	left:12px;
	-webkit-animation-delay:.6s;
	-moz-animation-delay:.6s;
	-ms-animation-delay:.6s;
	-o-animation-delay:.6s;
	animation-delay:.6s;
}
.overlay-loader span:nth-child(5) {
	left:16px;
	-webkit-animation-delay:.8s;
	-moz-animation-delay:.8s;
	-ms-animation-delay:.8s;
	-o-animation-delay:.8s;
	animation-delay:.8s;
}
.jws-ajax-loader {
	display:none;
	.overlay-loader {
		span {
			background:#ffffff;
		}
		background:transparent;
	}
}
.modal-open {
	.jws-ajax-loader .overlay-loader {
		display:block;
	}
}
.kitgreen-products-loaders {
	&.show {
	   position: initial !important;
		.overlay-loader {
			display:block;
			div {
				position:absolute;
				top:15%;
			}
		}
	}
}
#yith-wcwl-popup-message {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	color:#ffffff;
	font-size:40px;
	padding:0;
	z-index:99;
	height:100px;
	top:initial;
	right:initial;
	margin:0 !important;
	border-radius:0;
	border:none;
	line-height:100px;
	animation:slideInUp 0.5s both;
}
.ajax-loading {
	visibility: hidden !important;
}