/*
Theme Name: KitGreen
Theme URI: http://kitgreen.jwsuperthemes.com
Author: jwsthemes
Author URI: https://themeforest.net/user/jwsthemes
Version: 1.0.1
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Description: KitGreen is billed as a simple, flexible, and stylish WordPress theme for design and kitchen websites. The demo version of this theme has been set up perfectly to help you portray your business in a classy and professional way.
Text Domain: kitgreen
*/
/* <select id="default-img-size-param" style="vertical-align: top;">
        <option value="thumbnail">thumbnail (150x150)</option>
        <option value="medium">medium (300x300)</option>
        <option value="medium_large">medium_large (768 width)</option>
        <option value="large">large (1024x1024)</option>
        <option value="jws-imge-minicart">jws-imge-minicart (65x83)</option>
        <option value="jws-imge-crop-thumbnail-blog-siderbar">jws-imge-crop-thumbnail-blog-siderbar (80x80)</option>
        <option value="jws-imge-crop-thumbnail-portfolio">jws-imge-crop-thumbnail-portfolio (270x270)</option>
        <option value="jws-imge-related_post">jws-imge-related_post (420x260)</option>
        <option value="jws-imge-related_pp">jws-imge-related_pp (370x370)</option>
        <option value="jws-imge-team-single-size">jws-imge-team-single-size (570x670)</option>
        <option selected="" value="jws-imge-crop-thumbnail-service">jws-imge-crop-thumbnail-service (570x400)</option>
        <option value="jws-imge-crop-thumbnail-blog-classic">jws-imge-crop-thumbnail-blog-classic (1170x600)</option>
        <option value="shop_catalog_jws">shop_catalog_jws (600x600)</option>
        <option value="woocommerce_thumbnail">woocommerce_thumbnail (300x300)</option>
        <option value="woocommerce_single">woocommerce_single (600 width)</option>
        <option value="woocommerce_gallery_thumbnail">woocommerce_gallery_thumbnail (100x100)</option>
        <option value="shop_catalog">shop_catalog (300x300)</option>
        <option value="shop_single">shop_single (600 width)</option>
        <option value="shop_thumbnail">shop_thumbnail (100x100)</option>
        <option value="custom">custom</option>
</select> */
@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
/** Color Variable **/
/** Header **/
#mainmenu-area-sticky-wrapper {
  border-bottom: solid 1px #f16334 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important; }

#jws_header .is-sticky .mainmenu-area {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px #f16334 !important;
  transition: 0.5s all;
  -webkit-transition: 0.5s all; }

.jws-logo {
  max-width: 250px !important; }

#jws_header .sticky-wrapper .menu_nav .mainmenu > .nav > li > .sub-menu-dropdown {
  position: absolute;
  /* box-shadow: 0 5px 18px rgba(0,0,0,0.1); */
  box-shadow: none;
  z-index: 999;
  border: none;
  border-top: none;
  padding-top: 23px; }

#jws_header .sticky-wrapper .menu_nav .mainmenu > .nav > li > .sub-menu-dropdown .vc_row {
  border: none;
  background-color: #333;
  color: #ddd !important; }

#jws_header .sticky-wrapper .menu_nav .mainmenu > .nav > li > a {
  font-size: 14px;
  padding: 1px 15px;
  position: relative; }

#jws_header .sticky-wrapper .menu_nav .mainmenu > .nav > li > a:before {
  background: transparent !important; }

.sub-menu-dropdown .vc_row {
  padding: 0px !important; }

.sub-menu-dropdown .wpb_content_element {
  margin: 0px !important; }

#jws_header .sticky-wrapper .menu_nav .mainmenu > .nav > li > a.active,
.kitgreen-service-holder .service-item .service_inner .service-content .title h6 a:hover,
.icon_footer li a i:hover,
.kitgreen-blog-holder.blog-menu .post-item .content-blog .content-inner .title h6 a:hover {
  color: #f16334 !important; }

.logo-kitgreen {
  line-height: 70px !important; }

#jws_header .right-header {
  height: 70px !important; }

.top-bar {
  background-color: #f16334;
  padding: 7px;
  transition: all 0.3s; }

.top-bar-wraperr {
  max-width: 1170px;
  max-width: 1170px;
  display: block;
  margin: 0 auto; }

.header-extra {
  display: flex;
  /* margin-bottom: 15px; */
  margin-right: -40px;
  justify-content: flex-end; }

#sticky-wrapper.sticky-wrapper {
  height: 115px !important; }

#sticky-wrapper.is-sticky {
  height: 71px !important; }
  #sticky-wrapper.is-sticky .top-bar {
    margin-top: -45px; }

.woocommerce div.product .images,
.woocommerce-page div.product .images {
  pointer-events: none !important; }

.woocommerce-product-gallery__trigger {
  pointer-events: all !important; }

.content-product-right {
  /* padding-top: 50px; */
  /* border-left: solid 1px #ddd; */
  padding-left: 15px; }

.woocommerce.single-product #content {
  margin-bottom: 100px;
  margin-top: 50px !important; }

#back-to-top {
  display: none !important; }

.shop-bottom {
  /* display: flex; */ }

.shop-bottom .description {
  display: flex; }

.shop-bottom .description .desc-left {
  flex-basis: 65%;
  margin-right: 35px;
  font-size: 13px;
  text-align: justify; }

.MagicScroll-vertical .mcs-item {
  display: block;
  width: 100%;
  margin-bottom: 10px; }

.product-menu-wrapper {
  display: flex;
  justify-content: center; }

.product-menu-wrapper .product-item {
  padding: 15px;
  flex: 0 0 190px;
  text-align: center; }

.product-menu-wrapper .product-item img {
  border-radius: 5px; }

.product-menu-wrapper .product-item span {
  line-height: 1.3;
  display: block;
  margin-top: 10px;
  color: #ddd; }

.product-menu-wrapper .product-item a.button {
  border: none;
  background-color: #f16334;
  color: white;
  height: 38px;
  border-radius: 3px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }

.product-menu-wrapper i {
  opacity: 0.5;
  padding-left: 15px; }

.sk_box .wpb_wrapper {
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  box-shadow: 0 2px 30px -4px rgba(0, 0, 0, 0.07);
  border-radius: 5px; }

.section_title_header h5 {
  font-size: 15px;
  color: #EF4036;
  letter-spacing: 0;
  line-height: 21px; }

.section_title_header h3 {
  /* opacity: 0.7; */
  /* font-family: Raleway-SemiBold; */
  font-size: 30px;
  color: #000000;
  letter-spacing: 0;
  line-height: 47px;
  margin: 0px;
  font-weight: 600; }

p {
  /* opacity: 0.7; */
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 25px; }

.icon-img {
  margin-bottom: 0px !important; }

.icon-img img {
  max-width: 80% !important; }

#footer-jws .sub-menu li {
  margin-bottom: 15px;
  line-height: 1.5;
  color: #ddd !important; }

#footer-jws .sub-menu li a {
  color: #ddd !important; }

.sk_section {
  padding: 50px 0px; }

.cat-container {
  width: 100%;
  padding: 0px; }

.product-list {
  /* max-width: 1170px; */
  /* padding-left: 15% !important;
    padding-right: 15% !important; */ }

.cover-banner {
  display: flex;
  max-height: 550px;
  min-height: 350px;
  margin-bottom: -100px; }

.cover-banner h3 {
  text-align: center;
  color: white;
  background-color: #000000ad;
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px; }

/* .cover-banner:before {
    content: '';
    background-color: #0000009c;
    width: 100%;
} */
.product-container {
  margin-bottom: 150px !important; }

.product-list > div {
  background-color: #fff;
  padding: 70px 0px; }

.product-list > div:first-child {
  padding-top: 5px !important; }

.product-list > div:nth-child(2n) {
  background-color: #F6F6F6; }

.product-list > div .skh_row {
  display: flex;
  position: relative !important;
  align-items: center;
  justify-content: center; }

.product-list > div:nth-child(2n) .skh_row .skh_first {
  order: 2; }

.product-list .skh_first {
  flex-basis: 33%;
  justify-content: center;
  display: flex;
  padding: 80px;
  border: 1px solid #E9E9E9;
  box-shadow: 0 33px 23px -34px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  margin: 0px 30px; }

.product-list .skh_second {
  flex-basis: 33%; }

.product-list .quantity {
  position: relative;
  height: 40px;
  width: 150px;
  background: #f6f6f6;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 30px; }

.product-list a.button {
  background-color: #63bcaa;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 150px;
  border-radius: 25px;
  text-align: center;
  line-height: 40px;
  padding: 0;
  border: none;
  display: inline-block;
  border: 1px solid;
  vertical-align: top;
  transition: 0.5s all;
  -webkit-transition: 0.5s all; }

.product-list .info-product {
  display: none; }

.product-list a.button:hover {
  background-color: #f16334; }

.product-list .desc-right {
  margin-top: 30px; }

.product-container {
  margin: 0px !important;
  padding: 0px !important; }

.cate-item {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  border: solid 1px #c9c9c9;
  border-radius: 5px;
  padding-top: 2px;
  width: 55%;
  background-color: white; }

.cate-item img,
.cate-item p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: left; }

product-image-container a:nth-child(3) {
  color: #63bcaa !important; }

.text-container:after {
  /* content: "";
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
    height: 30px;
    display: block;
    margin: -15px auto 0 auto;
    width: 80%;
    z-index: 1;
    position: relative; */ }

.text-container {
  text-align: left;
  border-bottom: solid 1px #ddd; }

.text-container h2 {
  font-size: 20px;
  color: #6D6E70;
  font-weight: 600;
  margin-bottom: 0; }

.text-container {
  display: flex; }

.text-copy-wrapper {
  flex-basis: 80%;
  padding-right: 10px; }

.button-wrapper {
  /* flex: 0 0 200px; */
  display: flex;
  align-items: center; }

.cate-item .product-image-container {
  /* width: 80%; */
  display: block;
  margin: 0 auto; }

.cate-item .text-container {
  padding: 2px 5%; }

.cate-item .text-container a.link {
  color: white;
  background-color: #f16334;
  padding: 3px 20px;
  border-radius: 3px;
  margin-top: 50px;
  font-size: 12px; }

.jws-quantity-wrap {
  display: none; }

.product_meta {
  display: none; }

.MagicScroll-arrows-outside {
  background: #a9a9a930 !important; }

.about_text {
  font-family: 'Caveat', cursive; }

.about_text p {
  font-size: 25px;
  line-height: 1.5;
  /* font-family: 'Caveat', cursive !important; */
  font-family: 'Gloria Hallelujah', cursive !important; }

div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer {
  padding-top: 0px !important; }

.mcs-wrapper {
  padding-bottom: 9px !important; }

.woocommerce div.product .content-product-right .shop-top .product_title {
  font-size: 25px;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 13px;
  font-family: "Montserrat";
  font-weight: 600; }

.sk-custom-menu {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }

.easy-return,
.questions {
  display: flex;
  margin: 0px 20px;
  align-items: center; }

.header-icon i {
  color: white; }

.header-icon img {
  max-height: 30px; }

.header-text {
  text-align: right;
  padding-left: 15px; }

.header-text h4 {
  font-size: 15px;
  font-weight: 800;
  line-height: 1.5;
  margin: 0px;
  text-transform: capitalize;
  color: white;
  font-family: "verdana";
  font-weight: 500; }

.header-text span {
  display: block;
  color: white; }

/* .jws-icon-cart {
    margin-top: 51px;
}

.search-form {
    margin-top: 51px;
} */
.footer-heading {
  color: #bbb; }

.contact_footer {
  color: #ddd !important; }

.contact_footer li {
  border-bottom: 1px solid #242424; }

.contact_footer p {
  color: #ddd !important; }

.contact_form_page {
  margin-top: 50px;
  color: #333 !important; }
  .contact_form_page li {
    border-bottom: 1px solid #ddd;
    padding: 25px 0px; }
  .contact_form_page i {
    padding-right: 5px; }

.copy_right {
  color: #ddd !important; }

.copy_right ins {
  color: #f16334 !important; }

.woocommerce-page .woocommerce {
  padding: 5% 15%; }

.custom.tparrows {
  cursor: pointer;
  background: #000;
  background: rgba(0, 0, 0, 0) !important;
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 100; }

.custom.tparrows:before {
  font-family: "revicons";
  font-size: 25px;
  color: #333 !important;
  display: block;
  line-height: 40px;
  text-align: center; }

.extra-pointer {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 15px 15px;
  margin-top: 15px; }

.extra-pointer h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5; }

.extra-pointer p {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5; }

.extra-pointer ul li {
  margin-bottom: 10px;
  border-top: solid 1px #ddd;
  padding-top: 10px; }

.thumb-wrap {
  display: flex;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px; }

.thumb-icon {
  flex: 0 0 70px;
  display: flex;
  align-items: center;
  justify-content: center; }

.thumb-icon i {
  color: #f16334; }

.woocommerce div.product .content-product-right .shop-bottom .info-product {
  margin-top: 15px; }

.woocommerce-Price-amount {
  color: #f16334 !important; }

.jws-simple-add-to-cart-button {
  background-color: #f16334 !important; }

.jws-simple-add-to-cart-button:hover {
  background-color: #cb3d0e !important; }

.yith-btn {
  display: none !important; }

.jws-push-menu .title {
  border-bottom: none; }

.jws-push-menu a {
  border-bottom: none !important; }

.jws-push-menu .quanty-ajax {
  display: none; }

.woocommerce-form-coupon-toggle {
  display: none; }

.cart_item .product-quantity {
  display: none !important; }

.woocommerce-checkout-review-order-table .product-thumbnail img {
  max-width: 85px !important; }

.woocommerce-checkout-review-order-table .product-name {
  padding-left: 10px !important; }

.woocommerce-checkout .woocommerce {
  padding: 2% 15%; }

.woocommerce-cart .woocommerce {
  padding: 2% 15%; }

.woocommerce-cart .coupon {
  display: none; }

.woocommerce-cart .button {
  border-bottom: none !important; }

.woocommerce-cart .product-quantity {
  display: none; }

.dimension-wrapper {
  margin-top: 15px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding-top: 10px;
  padding-bottom: 5px; }
  .dimension-wrapper h5 {
    font-size: 15px;
    font-weight: bold; }
    .dimension-wrapper h5 span {
      opacity: 0.8;
      text-transform: capitalize; }

.jws-action .search-form {
  display: none; }

.edit-order-custom {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.single-blog-page .blog-details-img {
  border: solid 1px #ddd;
  overflow: hidden;
  border-radius: 5px; }

.single-blog-page .blog-details {
  position: relative !important;
  width: 100%;
  max-width: 100% !important;
  padding: 0px !important; }
  .single-blog-page .blog-details h3 {
    margin: 0px !important;
    margin-top: 20px !important;
    font-size: 17px;
    font-weight: bold; }

.blog-innfo a {
  color: #f16334 !important; }
  .blog-innfo a:hover {
    color: #f16334 !important; }

#comments {
  display: none !important; }

.widget-title {
  background-color: #f16334 !important; }
  .widget-title:after {
    background-color: transparent !important; }

.widget_search {
  display: none !important; }

.widget_categories {
  display: none !important; }

.widget_meta {
  display: none !important; }

.widget_recent_comments {
  display: none !important; }

.widget_archive {
  display: none !important; }

.layout-2 {
  margin-top: 20px; }

.ninja-forms-field {
  height: 45px !important;
  border-radius: 3px;
  border: solid 1px #ddd;
  padding-left: 15px !important; }

textarea.ninja-forms-field {
  height: 150px !important; }

.web_form h3 {
  margin-bottom: 20px !important; }

.submit-wrap .ninja-forms-field {
  height: 45px !important;
  color: #fff !important;
  text-align: center;
  min-width: 120px;
  border: none !important;
  background-color: #f16334 !important; }

/*End */
